<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cool-card">
    <ion-item>
      <img src="../assets/images/Logo.png" style="margin-top: 20px; margin-left: auto; margin-right: auto; height: 80px; width: 120px;">
    </ion-item>
    <ion-item>
      
      <ion-title style="text-align: center;">Dr. Salvador Gutierrez H.</ion-title>
      
    </ion-item>
    <ion-item class="cool-item">
      <ion-icon slot="start" name="pulse" style="color: #fff;"></ion-icon>
      <ion-title>Cirujano Dentista</ion-title>
    </ion-item>
  </ion-card>

  <ion-card class="cool-card">
    <ion-slides pager="true" [options]="slideOpts" autoplay="true" loop="true" class="slider">
      <ion-slide>
        <img src="../assets/images/1s.jpg" width="300px">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/2s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/3s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/4s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/5s.jpg">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="book" color="primary"></ion-icon>
      <ion-title>Dental Hidalgo</ion-title>
    </ion-item>

    <ion-item>
      <ion-card-content>
          Cuenta con uno de los Mejores Dentistas en Tijuana. <br>
          Contactanos para revisar y resolver tu caso.
      </ion-card-content>
    </ion-item>
    <img class="image" src="../assets/images/l1.jpg" style="height: 200px;">
  </ion-card>

  <ion-card class="cool-card">
    <ion-item class="cool-item">
      <ion-icon slot="end" name="settings" color="light"></ion-icon>
      <ion-title>Procedimientos:</ion-title>
    </ion-item>

    <ion-item>
      <ion-label>Cosmetica Dental</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cirujia de Terceros Molares</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Endodoncia</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Obturaciones Libre de Metal</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Rehabilitaciones con Protesis</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Fijas y Removibles</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
