<ion-header no-border>
  <ion-item  lines="none" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="closeImage()" color="light">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-header>


<ion-content fullscreen class="modal-bg-color">
  
  <ion-grid style="height: 100%">
    <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%">
      <ion-col size="12">
        <ion-slides #slides [options]="slideOpts" loop="true" zoom="true" *ngIf="viewEntered" (ionSlidesDidLoad)="slides.slideTo(imageIndex, 0)">
          <ion-slide *ngFor="let image of data.images">
            <div class="swiper-zoom-container">
              <img class="img" [src]="image">
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
    
</ion-content>
