<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title>Y & D Barbers</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">

  <!-- BOTON CONTACTO -->
  <ion-fab vertical="top" horizontal="end" edge slot="fixed" class="fab-button">
    <ion-fab-button>
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button *ngFor="let phoneNumber of d.phoneNumbers" (click)="data.phoneCall(phoneNumber.number)" color="primary">
        <ion-icon name="call"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button *ngFor="let socialNetwork of d.socialNetworks" (click)="data.openLink(socialNetwork.link)" color="secondary">
        <ion-icon [name]="socialNetwork.icon"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- DESCRIPCION -->
  <ion-card class="animate__animated animate__fadeInLeft cool-card">
    <ion-item>
      <ion-icon slot="end" name="book" color="#fff"></ion-icon>
      <ion-title>{{d.appTitle1}}</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-item lines="none">
      <ion-card-content [innerHtml]="d.homeDescription1">
        {{d.homeDescription1}}
      </ion-card-content>
    </ion-item>
  </ion-card>

  


  <!-- GALERIA -->
  <div  class="gallery">
    <div class="image" *ngFor="let image of images; index as i" button (click)="openImage(i)">
      <img [src]="image">
    </div>
  </div>
</ion-content>
