
<ion-menu contentId="sidemenu" type="overlay">

  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-card class="animate__bounceIn container-menu-image">
        <img class="menu-image" src="../assets/images/Logo.png">
      </ion-card>
      <div class="tilt">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
        </svg>
      </div>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="menu-container"> 
    <ion-grid style="padding-top: 8px;">
      <ion-row class="ion-align-items-center">
        

        <ion-col size="12" class="ion-text-center" *ngFor="let page of pages; index as i">
          <ion-menu-toggle auto-hide="false">
            <ion-button class="animate__animated menu-button" shape="round" fill="outline" lines="none" (click)="changeSelectedUrl(page.url)"
              [routerLink]="page.url" 
              routerDirection="root"
              [class.mb-active]="selectedUrl === page.url"
              [class.mb-deactive]="selectedUrl != page.url"
              [class.animate__heartBeat]="selectedUrl === page.url">
              <ion-icon [name]="page.icon" slot="end" color="light"></ion-icon>
              <span class="ion-text-left" style="margin-right: auto;">{{page.text}}</span>
            </ion-button>
          </ion-menu-toggle>
        </ion-col>

        <ion-col size="12" class="ion-text-center" *ngFor="let red of social1">
          <ion-menu-toggle auto-hide="false">
            <ion-button class="animate__animated menu-button" shape="round" fill="outline" lines="none"  (click)="gotoAppointments()">
              <ion-icon [name]="red.icon" slot="end" color="light"></ion-icon>
              <span class="ion-text-left" style="margin-right: auto;">{{red.text}}</span>
            </ion-button>
          </ion-menu-toggle>
        </ion-col>

        <ion-col size="12" class="ion-text-center" *ngFor="let page1 of pages1; index as i">
          <ion-menu-toggle auto-hide="false">
            <ion-button class="animate__animated menu-button" shape="round" fill="outline" lines="none"
              [routerLink]="page1.url" 
              routerDirection="root"
              [class.mb-active]="selectedUrl === page1.url"
              [class.mb-deactive]="selectedUrl != page1.url"
              [class.animate__heartBeat]="selectedUrl === page1.url">
              <ion-icon [name]="page1.icon" slot="end" color="light"></ion-icon>
              <span class="ion-text-left" style="margin-right: auto;">{{page1.text}}</span>
            </ion-button>
          </ion-menu-toggle>
        </ion-col>

        <ion-col size="12" class="ion-text-center">
          <div *ngIf="showSubscriptionButton()">
            <ion-menu-toggle auto-hide="false">
              <ion-button class="animate__animated menu-button" shape="round" (click)="toggleSalesNotifications()">
                <ion-icon name="star" slot="end" color="light"></ion-icon>
                <span class="ion-text-left" style="margin-right: auto;">Join Us</span>
              </ion-button>
            </ion-menu-toggle>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-menu-toggle auto-hide="false">
      <ion-button class="account-button" shape="round" fill="clear" lines="none" routerLink="/menu/account">Account</ion-button>
    </ion-menu-toggle>

    <div class="l-lines"></div>
    <div class="r-lines"></div>
    <div class="b-lines"></div>

  </ion-content>

</ion-menu>

<ion-router-outlet id="sidemenu"></ion-router-outlet>
