<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #fff;">{{translate.contact}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pattern-bg">

  <!-- TELEFONO -->
  <ion-card class="animate__animated animate__fadeInLeft cool-card">
    <ion-item>
      <ion-icon slot="end" name="call" color="primary"></ion-icon>
      <ion-title>{{translate.phones}}</ion-title>
    </ion-item>

    <!-- <br>
    <ion-card-subtitle style="margin-left: 5%;">Celular:</ion-card-subtitle>
    <ion-item>
      <ion-label>664 682 8834</ion-label>
    </ion-item>
    <ion-item>
      <ion-label></ion-label>
    </ion-item>
    <br>
    <ion-card-subtitle style="margin-left: 5%;">Telefono:</ion-card-subtitle> -->
    <ion-item lines="none" *ngFor="let phone of data.phones">
      <ion-label>{{phone.number}}</ion-label>
    </ion-item>

    <ion-item lines="none" class="cool-item" button (click)="showNumberList($event)">
      <ion-label style="text-align: center;">{{translate.call}}</ion-label>
      <ion-icon name="call" color="light"></ion-icon>
    </ion-item>
  </ion-card>

  <!-- DIRECCION -->
  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item>
      <ion-icon slot="end" name="locate" color="primary"></ion-icon>
      <ion-title>{{translate.direction}}</ion-title>
    </ion-item>

    <ion-item lines="none">
      <ion-card-content>
        {{data.direction}}
      </ion-card-content>
    </ion-item>
  </ion-card>
  
  <!-- MAPA -->
  <ion-card  class="animate__animated animate__fadeInLeft cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="map" color="primary"></ion-icon>
      <ion-title>{{translate.location}}</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <iframe style="width: 100%; height: 300px; background-color: #ffffff;"
      src= 'https://maps.google.com/maps?q=Av.%20Francisco%20I.%20Madero%20937-1082%2C%20Zona%20Centro%2C%2022000%20Tijuana%2C%20B.C&t=&z=15&ie=UTF8&iwloc=&output=embed'
      frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    <div
      style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
      <small style="line-height: 1.8;font-size: 2px;background: #fff;">
        Map by <a href="https://www.googlemapsembed.net/" rel="nofollow">Embed Google Maps</a>
      </small>
    </div>
    <style>
      #gmap_canvas img {
        max-width: none !important;
        background: none !important
      }
    </style>
  </ion-card >
  <!-- Embed code -->
  <script type="text/javascript">(new Image).src = "//googlemapsembed.net/get?r" + escape(document.referrer);</script>
  <script type="text/javascript" src="https://googlemapsembed.net/embed"></script>
  <!-- END CODE -->
  
  <!-- REDES SOCIALES -->
  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item >
      <ion-icon slot="end" name="people" color="primary"></ion-icon>
      <ion-title>{{translate.social}}</ion-title>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="start" name="mail" color="primary"></ion-icon>
      <ion-label>atelier1dental@gmail.com</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="start" name="logo-whatsapp"color="primary"></ion-icon>
      <ion-label>(664) 279-4568</ion-label>
    </ion-item> 

    <!-- <ion-item class="cool-item" button (click)="openLink('https://dentalcosmeticstud.wixsite.com/dentalcosmeticstudio?fbclid=IwAR2tQIoYwZYjEpYh6TebTTki4KLwgTUKmgPdsZV1jaVSBMJyYa2_laDS4yw')">
      <ion-icon slot="start" name="globe" color="light"></ion-icon>
      <ion-label>dentalcosmeticstud.wixsite.com</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item> -->

    <ion-item lines="none" class="cool-item" button (click)="openLink('https://www.facebook.com/laferscasolla')">
      <ion-icon slot="start" name="logo-facebook" color="light"></ion-icon>
      <ion-label>Atelier dental Fernanda Casolla</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item> 

    <ion-item lines="none" class="cool-item" button (click)="openLink('https://www.instagram.com/ferscasolla/?hl=es-la')">
      <ion-icon slot="start" name="logo-instagram" color="light"></ion-icon>
      <ion-label>ferscasolla</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>