.logo {
    position: absolute;
    left: 20%;
    width: 100%;
    top: -25%;
}

.login-off {
    color: #a1a1a1;
}

.input {
    color: #fff;
    border-color: var(--ion-color-secondary);
    border-style: solid;
    border-radius: 32px;
}

.grid {
    padding: 10% 10% 0 10%;
}