<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title>PRODUCTOS</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">

  <!-- BOTON CONTACTO -->
  <ion-fab vertical="top" horizontal="end" edge slot="fixed" class="fab-button">
    <ion-fab-button>
      <ion-icon name="grid"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button *ngFor="let numero of data.numeros" (click)="data.phoneCall(numero)" color="primary">
        <ion-icon name="call"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button *ngFor="let red of data.redesSociales" (click)="data.openLink(red.link)" color="secondary">
        <ion-icon [name]="red.icon"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- PRODUCTOS -->
  <ion-card class="cool-card" *ngFor="let producto of productos">
    <img [src]="producto" class="full-image">
  </ion-card>

  <!-- CONTACTO -->
  <ion-card class="cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="call" color="#fff"></ion-icon>
      <ion-title>Contacto</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <!-- NUMEROS -->
        <ion-col class="ion-text-center" size="12" *ngFor="let numero of data.numeros">
          <ion-button class="cool-button" shape="round" fill="outline" lines="none" (click)="data.phoneCall(numero)">
            <div class="cool-text">
              <ion-text>{{numero}}</ion-text>
            </div>
          </ion-button>
        </ion-col>

        <!-- REDES SOCIALES -->
        <ion-col class="ion-text-center" size="12" *ngFor="let red of data.redesSociales">
          <ion-button class="cool-button" shape="round" fill="outline" lines="none" (click)="data.openLink(red.link)">
            <ion-icon slot="start" [name]="red.icon" color="#fff"></ion-icon>
            <div class="cool-text">
              <ion-text>{{red.name}}</ion-text>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
