<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{data.t_Inicio[data.currentTranslation]}}</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">
  
  <!-- BOTON CONTACTO -->
  <ion-fab vertical="top" horizontal="end" edge slot="fixed" class="fab-button">
    <ion-fab-button>
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button *ngFor="let numero of data.numeros" (click)="data.phoneCall(numero)" color="primary">
        <ion-icon name="call"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button *ngFor="let red of data.redesSociales" (click)="data.openLink(red.link)" color="secondary">
        <ion-icon [name]="red.icon"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- PORTADA -->
  <ion-card class="animate__animated animate__fadeInLeft cool-card" style="border-style: none;" color="primary">
      <img src="../assets/images/Logo.png" class="full-image" style="object-fit: cover; height: 280px;">
  </ion-card>
  <div class="cool-line"></div>

  <!-- DATO -->
  <ion-card class="animate__animated animate__fadeInLeft cool-card">
    <img src="../assets/images/top.jfif" class="full-image">
    <div class="cool-line"></div>

    <ion-item lines="none">
      <ion-card-content [innerHtml]="data.t_Dato[data.currentTranslation]">
        {{data.t_Dato[data.currentTranslation]}}
      </ion-card-content>
    </ion-item>
  </ion-card>

  <!-- SLIDER -->
  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-slides pager="true" [options]="slideOpts" autoplay="true" loop="true" class="slider">
      <ion-slide *ngFor="let image of slider">
        <img [src]="image" style="width: 100%; height: 100%; object-fit: fill;">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <!-- DESCRIPCION -->
  <ion-card class="animate__animated animate__fadeInLeft cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="book" color="#fff"></ion-icon>
      <ion-title>{{data.t_Titulo}}</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-item lines="none">
      <ion-card-content [innerHtml]="data.t_Descripcion[data.currentTranslation]">
        {{data.t_Descripcion[data.currentTranslation]}}
      </ion-card-content>
    </ion-item>
  </ion-card>

  <!-- SERVICIOS -->
  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <img src="../assets/images/servicios.jpg" class="full-image">

    <ion-item lines="none">
      <ion-icon slot="end" name="list" color="#fff"></ion-icon>
      <ion-title>{{data.t_Servicios[data.currentTranslation]}}</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-item lines="none" *ngFor="let servicio of data.t_ServiciosContenido">
      <ion-icon slot="start" name="radio-button-on" color="#fff" style="font-size: 16px;"></ion-icon>
      <ion-text>
        {{servicio[data.currentTranslation]}}
      </ion-text>
    </ion-item>
  </ion-card>

  <!-- HORARIO -->
  <!-- <ion-card class="cool-card">
    <img src="../assets/images/bs7.jpg" class="full-image">

    <ion-item lines="none">
      <ion-icon slot="end" name="calendar" color="#fff"></ion-icon>
      <ion-title>Horario</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-grid>
      <ion-row *ngFor="let horario of horarios">
        <ion-col>
          <div class="ion-text-start cool-text">
            <ion-text>{{horario.dia}}</ion-text>
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-end cool-text">
            <ion-text>{{horario.hora}}</ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> -->

  <!-- VIDEO -->
  <!-- <ion-card class="animate__animated animate__fadeInLeft cool-card">
    <video style="width: 100%; background-color: #1a1a1a;" controls>
      <source src="../assets/videos/1.mp4#t=1" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
  </ion-card> -->

  <!-- FLYER -->
  <!-- <ion-card class="animate__animated animate__fadeInRight cool-card">
    <img src="../assets/images/f.jfif" class="full-image">
  </ion-card> -->

</ion-content>