<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeView()">
        <ion-icon slot="icon-only" name='close' color='light' style="font-size: 25px;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color: #000;">{{t.t_Publicar[t.currentTranslation]}}</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">

  <ion-item lines="none" color="primary">
    <ion-title class="cool-title" style="color: #fff;">{{t.txt_EditarPublicacion[t.currentTranslation]}}</ion-title>
    <ion-icon slot="end" name="document" color="light"></ion-icon>
  </ion-item>

  <div class="cool-line"></div>

  <ion-card class="cool-card sub-card" style="padding: 32px 0 32px 0; margin-bottom: 32px; margin-top: 32px;">
    <div class="pin" style="top: -5px;"></div>

    <!-- TITULO -->
    <ion-item lines="none" color="primary">
      <ion-label style="color: #fff;">{{t.txt_TituloPublicacion[t.currentTranslation]}}</ion-label>
      <ion-icon slot="end" name="create" color="light"></ion-icon>
    </ion-item>
  
    <ion-item lines="none">
      <ion-input [placeholder]="t.txt_EscribeTitulo[t.currentTranslation]" type="text" [(ngModel)]="titulo"></ion-input>
    </ion-item>
  
    <div class="cool-line"></div>

    <!-- OFERTA -->
    <ion-item lines="none" color="primary">
      <ion-label style="color: #fff;">{{t.txt_PorcentajeOferta[t.currentTranslation] + ' (' + t.txt_Opcional[t.currentTranslation] + ')'}}</ion-label>
      <ion-icon slot="end" name="create" color="light"></ion-icon>
    </ion-item>
  
    <ion-item lines="none">
      <ion-input [placeholder]="t.txt_EscribeOferta[t.currentTranslation]" maxlength="3" type="text" [(ngModel)]="oferta"></ion-input>
    </ion-item>

    <div class="cool-line"></div>
  
    <!-- CONTENIDO -->
    <ion-item lines="none" color="primary">
      <ion-label style="color: #fff;">{{t.txt_ContenidoPublicacion[t.currentTranslation]}}</ion-label>
      <ion-icon slot="end" name="chatbox" color="light"></ion-icon>
    </ion-item>
  
    <ion-card class="cool-card" style="border-radius: 8px;">
      <ion-textarea 
      [placeholder]="t.txt_EscribeContenido[t.currentTranslation]" 
      class="cool-text" 
      style="white-space: pre-wrap;"
      [(ngModel)]="contenido"
      style="height: auto;"></ion-textarea>
    </ion-card>

    <div class="pin" style="bottom: -5px;"></div>
  </ion-card>

  <div class="cool-line"></div>


  <ion-grid class="grid" *ngIf="create">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button class="cool-button appointment-button" shape="round" color="secondary" (click)="createPost()">
          {{t.b_Publicar[t.currentTranslation]}}
          <ion-icon slot="end" name="share" color="primary"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid" *ngIf="!create">
    <ion-row class="ion-align-items-center">
      <ion-col size="6" class="ion-text-center">
        <ion-button class="cool-button appointment-button" shape="round" color="secondary" (click)="deleteConfirm()">
          {{t.b_Borrar[t.currentTranslation]}}
          <ion-icon slot="end" name="trash" color="light"></ion-icon>
        </ion-button>
      </ion-col>
      
      <ion-col size="6" class="ion-text-center">
        <ion-button class="cool-button appointment-button" shape="round" color="secondary" (click)="updatePost()">
          {{t.b_Actualizar[t.currentTranslation]}}
          <ion-icon slot="end" name="save" color="light"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
