<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title>CONTACT</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">

  <div class="flex-container">
  <div class="logo">
    <img src="../assets/images/Logo.png">
  </div>
  <br>
  <br>
  <div>
    <ion-text class="cool-text"> {{d.address}} </ion-text>
  </div>
  <div *ngFor="let phoneNumber of d.phoneNumbers">
    <br>
    <ion-icon name="call" color="light"></ion-icon>
    <ion-text class="cool-text"> {{phoneNumber.number}} </ion-text>
  </div>
  </div>

  <!-- SOCIAL NETWORKS -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="secondary">
        <ion-icon name="share" color="primary"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
        <ion-fab-button color="secondary" *ngFor="let sn of d.socialNetworks" (click)="data.openLink(sn.link)">
            <ion-icon [name]="sn.icon" color="primary"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
</ion-fab>

<div style="position: fixed; bottom: 12px; left: 25vw; font-size: 32px;">
    <ion-icon name="call" color="light" (click)="data.phoneCall(d.phoneNumbers[0].number)"></ion-icon>
</div>

<div style="position: fixed; bottom: 12px; right: 25vw; font-size: 32px;">
    <ion-icon name="map" color="light" (click)="openRoute()"> </ion-icon>
</div>

 <!-- TELEFONOS
 <ion-card class="animate__animated animate__fadeInLeft cool-card">
  <ion-item lines="none">
    <ion-icon slot="end" name="call" color="#fff"></ion-icon>
    <ion-title>Phones</ion-title>
  </ion-item>

  <div class="cool-line"></div>

  <ion-grid>
    <ion-row class="ion-align-items-center">
       NUMEROS 
      <ion-col class="ion-text-center" size="12" *ngFor="let phoneNumber of d.phoneNumbers">
        <ion-button class="cool-button" shape="round" fill="outline" lines="none" (click)="data.phoneCall(phoneNumber.number)">
          <div class="cool-text">
            <ion-text>{{phoneNumber.number}}</ion-text>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

   DIRECCION 
  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item>
      <ion-icon slot="end" name="locate" color="#fff"></ion-icon>
      <ion-title>Address</ion-title>
    </ion-item>
    <div class="cool-line"></div>
    <ion-item lines="none">
      <ion-card-content>
        {{d.address}}
      </ion-card-content>
    </ion-item>
  </ion-card>

   MAPA 
  <ion-card  class="animate__animated animate__fadeInLeft cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="map" color="#fff"></ion-icon>
      <ion-title>Location</ion-title>
    </ion-item>

    <div class="cool-line"></div>
    
    <iframe style="width: 100%; height: 300px; background-color: #ffffff;"
      [src]="getMapUrl()"
      frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </ion-card >
   Embed code
  <script type="text/javascript">(new Image).src = "//googlemapsembed.net/get?r" + escape(document.referrer);</script>
  <script type="text/javascript" src="https://googlemapsembed.net/embed"></script>
   END CODE 

   REDES SOCIALES 
  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="list" color="#fff"></ion-icon>
      <ion-title>Social Networks</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    AQUI AGREGAR ITEM DE CORREO 

    <ion-item lines="none">
      <ion-icon slot="start" name="mail" color="ligth"></ion-icon>
      <ion-label>entouragebarber@gmail.com</ion-label>
    </ion-item> 

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center" size="12" *ngFor="let socialNetwork of d.socialNetworks">
          <ion-button class="cool-button" shape="round" fill="outline" lines="none" (click)="data.openLink(socialNetwork.link)">
            <ion-icon slot="start" [name]="socialNetwork.icon" color="#fff"></ion-icon>
            <div class="cool-text">
              <ion-text>{{socialNetwork.text}}</ion-text>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> -->


</ion-content>

