<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #fff;">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cool-card">
    <ion-item>
      <img src="../assets/images/Logo.png" style="margin-left: auto; margin-right: auto; height: 120px; width: 140px;">
    </ion-item>
    <ion-item>
      
      <ion-title style="text-align: center;">Arce Lugo</ion-title>
      
    </ion-item>
    <ion-item class="cool-item">
      <!-- <ion-icon slot="start" name="pulse" style="color: #fff;"></ion-icon> -->
      <ion-title style="text-align: center;">Dental House</ion-title>
    </ion-item>
  </ion-card>

  <ion-card class="cool-card">
    <ion-slides pager="true" [options]="slideOpts" autoplay="true" loop="true" class="slider">
      <ion-slide>
        <img src="../assets/images/1s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/2s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/3s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/4s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/5s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/6s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/7s.jpg">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="book" color="primary"></ion-icon>
      <ion-title>Arce Lugo Dental House</ion-title>
    </ion-item>

    <ion-item>
      <ion-card-content>
          Cuenta con los Mejores Dentistas en Tijuana, brindando siempre excelente servicio y al mejor precio. <br>
          Contactanos para revisar tu caso y darte la sonrisa que mereces.
      </ion-card-content>
    </ion-item>
    <img class="image" src="../assets/images/l1.jpg" style="height: 120px;">
  </ion-card>

  <ion-card class="cool-card">
    <ion-item class="cool-item">
      <ion-icon slot="end" name="settings" color="light"></ion-icon>
      <ion-title>Procedimientos:</ion-title>
    </ion-item>

    <ion-item>
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Limpieza</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Extracciones</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Blanqueamiento</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Rellenos Blancos</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Implantes Dentales</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
