<ion-header>
  <ion-item color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/contacto" style="color: #fff;"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center; color: #fff;">Dr. Gonzalez</ion-title>
  </ion-item>
</ion-header>

<ion-content class="content">
  <img class="gallery" src="assets/images/call.jfif" style="width: 100%; height: 80%;">
  <ion-button expand="full" color="secondary" (click)="phoneCall('6649731222')" style="margin: 0px; height: 19%;">
    <ion-icon slot="end" name='call' color='light' style="font-size: 25px;"></ion-icon>
    <ion-label style="color: #fff;">Llamar</ion-label>
  </ion-button>
</ion-content>
