<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="closeView()">
        <ion-icon slot="icon-only" name='close' color='light' style="font-size: 25px;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>POST</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">

  <ion-item lines="none" color="primary">
    <ion-title class="cool-title">Edit Post</ion-title>
    <ion-icon slot="end" name="document" color="secondary"></ion-icon>
  </ion-item>

  <div class="cool-line"></div>

  <ion-card class="cool-card sub-card" style="padding: 32px 0 32px 0; margin-bottom: 32px; margin-top: 32px;">
    <div class="pin" style="top: -5px;"></div>

    <!-- TITULO -->
    <ion-item lines="none" color="primary">
      <ion-label>Post Title</ion-label>
      <ion-icon slot="end" name="create" color="secondary"></ion-icon>
    </ion-item>
  
    <ion-item lines="none">
      <ion-input placeholder="Write Title" type="text" [(ngModel)]="title"></ion-input>
    </ion-item>
  
    <div class="cool-line"></div>

    <!-- OFERTA -->
    <ion-item lines="none" color="primary">
      <ion-label>{{'Sale Percentage (Optional)'}}</ion-label>
      <ion-icon slot="end" name="create" color="secondary"></ion-icon>
    </ion-item>
  
    <ion-item lines="none">
      <ion-input placeholder="Offer Percentage from 1 to 100" maxlength="3" type="text" [(ngModel)]="sale"></ion-input>
    </ion-item>

    <div class="cool-line"></div>
  
    <!-- CONTENIDO -->
    <ion-item lines="none" color="primary">
      <ion-label>Post Content</ion-label>
      <ion-icon slot="end" name="chatbox" color="secondary"></ion-icon>
    </ion-item>
  
    <ion-card class="cool-card" style="border-radius: 8px;">
      <ion-textarea 
      placeholder="Write Content"
      class="cool-text" 
      style="white-space: pre-wrap;" color="secondary"
      [(ngModel)]="content"
      style="height: auto;"></ion-textarea>
    </ion-card>

    <div class="pin" style="bottom: -5px;"></div>
  </ion-card>

  <div class="cool-line"></div>


  <ion-grid class="grid" *ngIf="create">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button class="cool-button appointment-button" shape="round" color="secondary" (click)="createPost()">
          Post
          <ion-icon slot="end" name="share" color="primary"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid" *ngIf="!create">
    <ion-row class="ion-align-items-center">
      <ion-col size="6" class="ion-text-center">
        <ion-button class="cool-button appointment-button" shape="round" color="secondary" (click)="deleteConfirm()">
          Delete
          <ion-icon slot="end" name="trash" color="primary"></ion-icon>
        </ion-button>
      </ion-col>
      
      <ion-col size="6" class="ion-text-center">
        <ion-button class="cool-button appointment-button" shape="round" color="secondary" (click)="updatePost()">
          Update
          <ion-icon slot="end" name="save" color="primary"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
