<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title>ACCOUNT</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">

  <div class="animate__animated animate__fadeInLeft" *ngIf="userReady">

    <ion-item lines="none" color="primary">
      <ion-icon slot="end" name="book" color="light"></ion-icon>
      <ion-title class="cool-title">Account Data</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-grid style="margin-top: 32px;">
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <div class="avatar">
            <img src="../assets/images/user.png">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid> 
  
    <ion-card class="cool-card sub-card" style="padding: 32px 0 32px 0;">

      <div class="pin" style="top: -5px;"></div>

      <!-- USERNAME -->
      <ion-item lines="none">
        <ion-icon slot="start" name="person" color="#fff"></ion-icon>
        <ion-input type="text" [(ngModel)]="firebaseService.userData.username"></ion-input>
      </ion-item>

      <div class="cool-line"></div>
  
      <ion-item lines="none">
        <ion-icon slot="start" name="mail" color="#fff"></ion-icon>
        <ion-label>{{firebaseService.userData.email}}</ion-label>
      </ion-item>

      <div class="cool-line"></div>

      <!-- PHONE -->
      <ion-item lines="none">
        <ion-icon slot="start" name="call" color="#fff"></ion-icon>
        <ion-input type="text" [(ngModel)]="firebaseService.userData.phone"></ion-input>
      </ion-item>

      <div class="cool-line"></div>

    <ion-item lines="none">
      <ion-icon slot="start" name="flame" color="light"></ion-icon>
      <ion-label>{{'Role: '+ getAdminText()}}</ion-label>
    </ion-item>
  
      <div class="cool-line"></div>
  
      <ion-item lines="none">
        <ion-icon slot="start" name="ribbon" color="#fff"></ion-icon>
        <ion-label>{{'Level: '+ firebaseService.userData.level}}</ion-label>
      </ion-item>

      <div class="cool-line"></div>

      <!-- NOTIFICATIONS -->
      <ion-item lines="none">
        <ion-icon slot="start" name="notifications" color="#fff"></ion-icon>
        <ion-text>Notifications</ion-text>
        <ion-toggle [(ngModel)]="activateNotifications" slot="end" color="secondary"></ion-toggle>
      </ion-item>
  
      <div class="pin" style="bottom: -5px;"></div>
  
    </ion-card>
  
    <ion-grid class="grid" style="padding-top: 0px;">
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button class="cool-button" shape="round" color="secondary" (click)="logout()">Logout</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> 
    
    <div *ngIf="firebaseService.userData.admin">
      <div class="cool-line" style="margin-top: 32px;"></div>

      <ion-item lines="none" color="primary">
        <ion-icon slot="end" name="options" color="light"></ion-icon>
        <ion-title class="cool-title">Application Options</ion-title>
      </ion-item>

      <div class="cool-line"></div>

      <ion-card class="cool-card sub-card" style="padding: 32px 0 32px 0;">
        <div class="pin" style="top: -5px;"></div>
    
        <ion-item lines="none">
          <ion-icon slot="start" name="chatbubbles" color="light"></ion-icon>
          <ion-label class="ion-text-wrap">Limit of Requests per User</ion-label>
        </ion-item>

        <ion-range class="cool-range" min="1" max="5" step="1" snaps="true" pin="true" [value]="appConfiguration.maxUserRequestNumber" color="secondary" (ionChange)="setMaxRequests($event)">
          <ion-text class="cool-text" slot="end">{{appConfiguration.maxUserRequestNumber}}</ion-text>
        </ion-range>

        <div class="cool-line"></div>

        <ion-item lines="none">
          <ion-icon slot="start" name="calendar" color="light"></ion-icon>
          <ion-label class="ion-text-wrap">Range of Request Creation Days</ion-label>
        </ion-item>

        <ion-range class="cool-range" min="5" max="90" step="1" snaps="true" pin="true" [value]="appConfiguration.dayRangeLimit" color="secondary" (ionChange)="setDayRangeLimit($event)">
          <ion-text class="cool-text" slot="end">{{appConfiguration.dayRangeLimit}}</ion-text>
        </ion-range>
  
        <div class="pin" style="bottom: -5px;"></div>
      </ion-card>
    </div>

    <ion-grid class="grid" style="padding-top: 0px; margin-bottom: 32px;">
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button class="cool-button" shape="round" color="secondary" (click)="saveAccountChanges()">
            Save Changes
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> 

  </div>
  
</ion-content>
