<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #fff;">{{translate.contact}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pattern-bg">

  <!-- TELEFONO -->
  <ion-card class="animate__animated animate__fadeInLeft cool-card">
    <ion-item>
      <ion-icon slot="end" name="call" color="primary"></ion-icon>
      <ion-title>{{translate.phones}}</ion-title>
    </ion-item>

    <!-- <br>
    <ion-card-subtitle style="margin-left: 5%;">Celular:</ion-card-subtitle>
    <ion-item>
      <ion-label>664 682 8834</ion-label>
    </ion-item>
    <ion-item>
      <ion-label></ion-label>
    </ion-item>
    <br>
    <ion-card-subtitle style="margin-left: 5%;">Telefono:</ion-card-subtitle> -->
    <ion-item lines="none" *ngFor="let phone of data.phones">
      {{phone.number}}
    </ion-item>
    <ion-button class="cool-button" fill="solid" lines="none" expand="full" (click)="showNumberList($event)" style="margin: 0;">
      {{translate.call}}
      <ion-icon name="call" slot="end" color="light"></ion-icon>
    </ion-button>
  </ion-card>

  <!-- <ion-grid>
    <ion-row class="ion-align-items-center" style="margin-top: 0;">
      <ion-col size="12" style="padding-top: 0; padding-bottom: 0; margin-top: 0;">
        <ion-button class="cool-button" fill="solid" lines="none" expand="block" shape="round" (click)="showNumberList($event)">
          {{translate.call}}
          <ion-icon name="call" slot="end" color="light"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <!-- DIRECCION -->
  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item>
      <ion-icon slot="end" name="locate" color="primary"></ion-icon>
      <ion-title>{{translate.direction}}</ion-title>
    </ion-item>

    <ion-item lines="none">
      <ion-card-content>
        {{data.direction}}
      </ion-card-content>
    </ion-item>
  </ion-card>
  
  <!-- MAPA -->
  <ion-card  class="animate__animated animate__fadeInLeft cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="map" color="primary"></ion-icon>
      <ion-title>{{translate.location}}</ion-title>
    </ion-item>

    <div class="cool-line"></div>
    
    <iframe style="width: 100%; height: 300px; background-color: #ffffff;"
      src= 'https://maps.google.com/maps?q=%202500%20Mitchell%20Rd%2C%20Ceres%2C%20CA%2095307%2C%20Estados%20Unidos%2C%20Morena%E2%80%99s%20Taqueria&t=&z=15&ie=UTF8&iwloc=&output=embed'
      frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    <div
      style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
      <small style="line-height: 1.8;font-size: 2px;background: #fff;">
        Map by <a href="https://www.googlemapsembed.net/" rel="nofollow">Embed Google Maps</a>
      </small>
    </div>
    <style>
      #gmap_canvas img {
        max-width: none !important;
        background: none !important
      }
    </style>
  </ion-card >
  <!-- Embed code -->
  <script type="text/javascript">(new Image).src = "//googlemapsembed.net/get?r" + escape(document.referrer);</script>
  <script type="text/javascript" src="https://googlemapsembed.net/embed"></script>
  <!-- END CODE -->
  
  <!-- REDES SOCIALES -->
  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="people" color="primary"></ion-icon>
      <ion-title>{{translate.social}}</ion-title>
    </ion-item>

    <div class="cool-line"></div>
    <!-- <ion-item lines="none">
      <ion-icon slot="start" name="mail" color="primary"></ion-icon>
      dr.gabrielreyes@hotmail.com
    </ion-item> -->

    <!-- <ion-item lines="none" class="cool-item" button (click)="openLink('https://local.yahoo.com/info-21655144-la-morenita-modesto')">
      <ion-icon slot="start" name="globe" color="light"></ion-icon>
      La Morenita
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item> -->

    <ion-item lines="none" class="cool-item" button (click)="openLink('https://www.facebook.com/MorenasTaqueria/')">
      <ion-icon slot="start" name="logo-facebook" color="light"></ion-icon>
      Morena's Taqueria
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="cool-item" button (click)="openLink('https://www.instagram.com/explore/locations/238203963/morenas-taqueria/')">
      <ion-icon slot="start" name="logo-instagram" color="light"></ion-icon>
      morenas-taqueria
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>