<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title>ROYAL INSTITUTE</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">

  <!-- BOTON CONTACTO -->
  <ion-fab vertical="top" horizontal="end" edge slot="fixed" class="fab-button">
    <ion-fab-button>
      <ion-icon name="grid"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button *ngFor="let numero of data.numeros" (click)="data.phoneCall(numero)" color="primary">
        <ion-icon name="call"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button *ngFor="let red of data.redesSociales" (click)="data.openLink(red.link)" color="secondary">
        <ion-icon [name]="red.icon"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- SERVICIOS -->
  <ion-card class="cool-card">
    <img src="../assets/images/ris.jpg" class="full-image">

    <ion-item lines="none">
      <ion-icon slot="end" name="list" color="#fff"></ion-icon>
      <ion-title>Servicios</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-item lines="none" *ngFor="let servicio of servicios">
      <ion-icon slot="start" name="radio-button-on" color="#fff" style="font-size: 16px;"></ion-icon>
      <ion-text>
        {{servicio}}
      </ion-text>
    </ion-item>
  </ion-card>


  <!-- DESCRIPCION -->
  <ion-card class="cool-card">
    <img src="../assets/images/a.jpg" class="full-image">

    <ion-item lines="none">
      <ion-icon slot="end" name="school" color="#fff"></ion-icon>
      <ion-title>En Royal Institute Aprenderás</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-item lines="none" *ngFor="let clase of clases" style="margin: 16px 0 16px 0;">
      <ion-icon slot="start" name="radio-button-on" color="#fff" style="font-size: 16px;"></ion-icon>
      <ion-text>
        {{clase}}
      </ion-text>
    </ion-item>
  </ion-card>

  <!-- HORARIO -->
  <ion-card class="cool-card">
    <img src="../assets/images/rih.jpg" class="full-image">

    <ion-item lines="none">
      <ion-icon slot="end" name="calendar" color="#fff"></ion-icon>
      <ion-title>Horario Matutino</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-grid>
      <ion-row *ngFor="let horario of matutino">
        <ion-col>
          <div class="ion-text-start cool-text">
            <ion-text>{{horario.dia}}</ion-text>
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-end cool-text">
            <ion-text>{{horario.hora}}</ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item lines="none">
      <ion-icon slot="end" name="calendar" color="#fff"></ion-icon>
      <ion-title>Horario Vespertino</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-grid>
      <ion-row *ngFor="let horario of vespertino">
        <ion-col>
          <div class="ion-text-start cool-text">
            <ion-text>{{horario.dia}}</ion-text>
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-end cool-text">
            <ion-text>{{horario.hora}}</ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- VIDEO -->
  <ion-card class="cool-card">
    <video style="width: 100%; background-color: #1a1a1a;" controls>
      <source src="../assets/videos/2.mp4#t=1" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
  </ion-card>

  <!-- SLIDER -->
  <ion-card class="cool-card">
    <ion-slides pager="true" [options]="slideOpts" autoplay="true" loop="true" class="slider">
      <ion-slide *ngFor="let image of slider">
        <img [src]="image" style="width: 100%; height: 100%; object-fit: fill;">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <!-- CONTACTO -->
  <ion-card class="cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="call" color="#fff"></ion-icon>
      <ion-title>Saber Mas</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <!-- NUMEROS -->
        <ion-col class="ion-text-center" size="12" *ngFor="let numero of data.numeros">
          <ion-button class="cool-button" shape="round" fill="outline" lines="none" (click)="data.phoneCall(numero)">
            <div class="cool-text">
              <ion-text>{{numero}}</ion-text>
            </div>
          </ion-button>
        </ion-col>

        <!-- REDES SOCIALES -->
        <ion-col class="ion-text-center" size="12" *ngFor="let red of data.redesSociales">
          <ion-button class="cool-button" shape="round" fill="outline" lines="none" (click)="data.openLink(red.link)">
            <ion-icon slot="start" [name]="red.icon" color="#fff"></ion-icon>
            <div class="cool-text">
              <ion-text>{{red.name}}</ion-text>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
