<ion-menu side="start" contentId="sidemenu">
  <ion-header no-border>
    <ion-toolbar>
      <!-- <div class="animate__animated animate__backInDown back-circle"></div>  -->
      <ion-card class="container-menu-image" no-border>
        <img class="animate__animated animate__heartBeat menu-image" src="../assets/images/Logo.png">
      </ion-card>
      <div class="tilt">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
        </svg>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-container">
    <!-- <ion-toolbar>
      <br>
      <ion-title class="ion-text-center">{{translate.appTitle}}</ion-title>
      <br>
      <div class="cool-line"></div>
    </ion-toolbar>
    <br> -->
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center" *ngFor="let page of pages">
          <!-- <ion-menu-toggle auto-hide="false"> -->
            <ion-button class="animate__animated menu-button" fill="solid" lines="none" shape="round"
            [routerLink]="page.url" 
            routerDirection="root"
            [class.mb-active]="selectedUrl === page.url"
            [class.mb-deactive]="selectedUrl != page.url"
            [class.animate__bounceIn]="selectedUrl === page.url"
            [class.animate__backInLeft]="selectedUrl != page.url">
              <ion-icon [name]="page.icon" slot="end" color="light"></ion-icon>
              <span class="ion-text-left" style="margin-right: auto;">{{page.title}}</span>
            </ion-button>
          <!-- </ion-menu-toggle> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-footer no-border>
    <ion-toolbar class="footer">
      <ion-buttons slot="start">
        <ion-button style="color: #fff;" (click)="changeLanguage()">{{translate.language}}</ion-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="animate__animated animate__heartBeat back-circle bc-1"></div>
    <div class="animate__animated animate__heartBeat back-circle bc-2"></div>
    <div class="animate__animated animate__heartBeat back-circle bc-3"></div>
    <div class="animate__animated animate__heartBeat back-circle bc-4"></div>
    <div class="animate__animated animate__heartBeat back-circle bc-5"></div>
    <div class="animate__animated animate__heartBeat back-circle bc-6"></div>
  </ion-footer>
</ion-menu>

<ion-router-outlet id="sidemenu"></ion-router-outlet>
