<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeView()">
        <ion-icon slot="icon-only" name='close' color='light' style="font-size: 25px;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{t.t_ModificarUsuario[t.currentTranslation]}}</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">

  <ion-item lines="none" color="primary">
    <ion-icon slot="end" name="person" color="light"></ion-icon>
    <ion-title class="cool-title">{{t.txt_DatosCuenta[t.currentTranslation]}}</ion-title>
  </ion-item>

  <div class="cool-line"></div>

  <ion-grid style="margin-top: 32px;">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <div class="avatar">
          <img src="../assets/images/user.png">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> 

  <ion-card class="cool-card sub-card" style="padding: 32px 0 32px 0;">

    <div class="pin" style="top: -5px;"></div>

    <ion-item lines="none">
      <ion-icon slot="start" name="person" color="light"></ion-icon>
      <ion-label>{{userData.username}}</ion-label>
    </ion-item>

    <div class="cool-line"></div>

    <ion-item lines="none">
      <ion-icon slot="start" name="mail" color="light"></ion-icon>
      <ion-label>{{userData.email}}</ion-label>
    </ion-item>

    <div class="cool-line"></div>
  
      <ion-item lines="none">
        <ion-icon slot="start" name="call" color="#fff"></ion-icon>
        <ion-label>{{userData.phone}}</ion-label>

        <ion-grid class="grid">
          <ion-row class="ion-align-items-center">
            <ion-col class="ion-text-center" size="12">
              <ion-toolbar color="primary">
                <ion-buttons slot="end">
                  <ion-button 
                  color="secondary" 
                  shape="round" 
                  (click)="callUser()" 
                  style="border: 2px solid white; border-radius: 24px;"
                  [disabled]="userData.phone === 'Undefined'">
                    <ion-icon slot="icon-only" name="call"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

    <div class="cool-line"></div>

    <ion-item lines="none">
      <ion-icon slot="start" name="flame" color="light"></ion-icon>
      <ion-label>{{t.txt_Rol[t.currentTranslation] +': '+ getAdminText()}}</ion-label>
    </ion-item>

    <div class="cool-line"></div>

    <ion-item lines="none">
      <ion-icon slot="start" name="ribbon" color="light"></ion-icon>
      <ion-label>{{t.txt_Nivel[t.currentTranslation] +': '+ userData.level}}</ion-label>
    </ion-item>

    <div class="cool-line"></div>

    <ion-item lines="none">
      <ion-icon slot="start" name="star" color="light"></ion-icon>
      <ion-text>{{t.txt_Prestigio[t.currentTranslation]}}</ion-text>
    </ion-item>

    <ion-range class="cool-range" min="0" max="10" step="1" snaps="true" pin="true" [value]="userData.rating" color="secondary" (ionChange)="setRating($event)">
      <ion-text class="cool-text" slot="end">{{rating}}</ion-text>
    </ion-range>

    <div class="cool-line"></div>

    <ion-item lines="none">
      <ion-icon slot="start" name="close" color="light"></ion-icon>
      <ion-text>{{t.txt_Cancelaciones[t.currentTranslation] +': '+ userData.cancel}}</ion-text>
    </ion-item>

    <div class="cool-line"></div>

    <ion-item lines="none">
      <ion-icon slot="start" name="calendar" color="light"></ion-icon>
      <ion-text>{{t.txt_SolicitudesActivas[t.currentTranslation] +': '+ userData.requestNumber}}</ion-text>
    </ion-item>

    <div class="cool-line"></div>

    <ion-item lines="none">
      <ion-icon slot="start" name="list" color="light"></ion-icon>
      <ion-text>{{t.txt_SolicitudesCreadas[t.currentTranslation] +': '+ userData.requestCount}}</ion-text>
    </ion-item>

    <div class="cool-line"></div>

    <ion-item lines="none">
      <ion-icon slot="start" name="key" color="#fff"></ion-icon>
      <ion-text>{{t.txt_PermitirSolicitudes[t.currentTranslation]}}</ion-text>
      <ion-toggle [(ngModel)]="allowRequests" slot="end" color="secondary"></ion-toggle>
    </ion-item>

    <div class="pin" style="bottom: -5px;"></div>

  </ion-card>

  <ion-grid class="grid" style="padding-top: 0px;">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button class="cool-button" shape="round" color="secondary" (click)="saveUserChanges()">{{t.b_GuardarCambios[t.currentTranslation]}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> 
  
</ion-content>
