<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- TELEFONO -->
  <ion-card class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="call" color="danger"></ion-icon>
      <ion-title>Telefonos</ion-title>
    </ion-item>

    <br>
    <ion-card-subtitle style="margin-left: 5%;">Celular:</ion-card-subtitle>
    <ion-item>
      <ion-label>664 596 2689</ion-label>
    </ion-item>
    <br>
    <ion-card-subtitle style="margin-left: 5%;">Telefono:</ion-card-subtitle>
    <ion-item>
      <ion-label>685 7153</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>USA (01152) 664 685 7153</ion-label>
    </ion-item>

    <ion-item button color="primary" routerLink="/llamada">
      <ion-label style="text-align: center;">Llamar</ion-label>
      <ion-icon name="call"></ion-icon>
    </ion-item>
  </ion-card>

  <!-- DIRECCION -->
  <ion-card class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="locate" color="danger"></ion-icon>
      <ion-title>Direccion</ion-title>
    </ion-item>

    <ion-item>
     Constitucion #1439 Local 104, Entre Calle 7ma y 8va, Tijuana, B.C.
    </ion-item>
  </ion-card>

  <!-- MAPA -->
  <ion-card  class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="map" color="danger"></ion-icon>
      <ion-title>Ubicacion</ion-title>
    </ion-item>

    <iframe style="width: 100%; height: 300px;"
      src="https://maps.google.com/maps?q=Av%20Constituci%C3%B3n%201439%2C%20Zona%20Centro%2C%2022000%20Tijuana%2C%20B.C.%20Dr%20Humberto%20Pastor%20Ortega&t=&z=15&ie=UTF8&iwloc=&output=embed"
      frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    <div
      style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
      <small style="line-height: 1.8;font-size: 2px;background: #fff;">
        Map by <a href="https://www.googlemapsembed.net/" rel="nofollow">Embed Google Maps</a>
      </small>
    </div>
    <style>
      #gmap_canvas img {
        max-width: none !important;
        background: none !important
      }
    </style>
  </ion-card >
  <!-- Embed code -->
  <script type="text/javascript">(new Image).src = "//googlemapsembed.net/get?r" + escape(document.referrer);</script>
  <script type="text/javascript" src="https://googlemapsembed.net/embed"></script>
  <!-- END CODE -->
  
  <!-- REDES SOCIALES -->
  <ion-card class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="people" color="danger"></ion-icon>
      <ion-title>Redes Sociales</ion-title>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="mail" color="primary"></ion-icon>
      <ion-label>drpastor3@hotmail.com</ion-label>
    </ion-item>

    <ion-item color="primary" button (click)="openLink('https://www.facebook.com/Dr-Humberto-Pastor-Ortega-106433717595379/')">
      <ion-icon slot="start" name="logo-facebook" color="light"></ion-icon>
      <ion-label>Dr. Humberto Pastor Ortega</ion-label>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>

    <ion-item color="primary" button (click)="openLink('https://www.instagram.com/drpastor3')">
      <ion-icon slot="start" name="logo-instagram" color="light"></ion-icon>
      <ion-label>drpastor3</ion-label>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>

  