.post-button {
    position: absolute; 
    left: 32px; 
    bottom: 24px; 
    z-index: 10; 
    height: 24px;
    font-size: medium;
}

.create-post-button {
    position: absolute; 
    right: 24px; 
    bottom: 24px; 
    z-index: 10; 
    height: 24px;
}

.gallery {
    margin: 4px;
    column-count: 2;
    column-gap: 4px;
}

.image-container {
    margin: 0px;
}

.image {
    object-fit: fill;
    height: 100%;
    width: 100%;
    background: var(--ion-color-primary);
}
.segment-container{
    background: var(--ion-color-primary);
}

.slider1 {
    background-color: var(--ion-color-primary); 
    --bullet-background: #383a3e; 
    --bullet-background-active: var(--ion-color-secondary); 
}