<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #fff;">{{translate.home}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pattern-bg">
  <ion-card class="animate__animated animate__fadeInLeft cool-card">
    <ion-item lines="none">
      <img src="../assets/images/Logo.png" style="margin-left: auto; margin-right: auto;  height: 220px; width: 220px;">
    </ion-item>
  </ion-card>

  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-slides pager="true" [options]="slideOpts" autoplay="true" loop="true" class="slider">
      <ion-slide *ngFor="let image of data.sliderImages">
        <img [src]="image">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card class="animate__animated animate__fadeInLeft cool-card">
    <ion-item>
      <ion-icon slot="end" name="book" color="primary"></ion-icon>
      <ion-title style="margin: 12px; margin-left: 0px;">{{translate.appTitle}}</ion-title>
    </ion-item>

    <ion-item lines="none">
      <ion-card-content>
        {{translate.description}}
      </ion-card-content>
    </ion-item>
    <img class="image" src="../assets/images/l1.jpg" style="height: 150px;">
  </ion-card>

  <!-- <ion-card class="cool-card">
    <ion-item lines="none" class="cool-item">
      <ion-icon slot="end" name="eye" color="light"></ion-icon>
      <ion-title>{{translate.video}}</ion-title>
    </ion-item>

     <video style="width: 100%; height: 400px; background-color: white;" controls>
      <source src="../assets/videos/1.mp4#t=1" type="video/mp4">
      Your browser does not support HTML5 video.
    </video> -->
  <!-- </ion-card> --> 

 <ion-card class="animate__animated animate__fadeInLeft cool-card">
      <img src="../assets/images/f.png" style="width: 100%; object-fit: cover;">
  </ion-card> 

  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item lines="none" class="cool-item">
      <ion-icon slot="end" name="settings" color="light"></ion-icon>
      <ion-title>{{translate.procedures}}</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-item *ngFor="let procedure of translate.procedureList">
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>{{procedure}}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
