<ion-card class="cool-card" style="margin: 0px; border-radius: 10px; border-width: 2px;">
  <ion-list>
    <ion-item>
      <ion-label (click)="phoneCall('6643787912')">664 378 7912</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="primary"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label (click)="phoneCall('6645247391')">664 524 7391</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="primary"></ion-icon>
    </ion-item>
  </ion-list>
</ion-card>

