<ion-card class="cool-card" style="margin: 0px; border-radius: 10px; border-width: 2px;">
  <ion-list>
    <ion-item>
      <ion-label (click)="phoneCall('6646828834')">664 682 8834</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="primary"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label (click)="phoneCall('6193087101')">619 308 7101</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="primary"></ion-icon>
    </ion-item>
  </ion-list>
</ion-card>

