<ion-menu side="start" contentId="sidemenu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title style="color: #fff;">Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-toolbar>
      <br>
      <ion-title class="ion-text-center">Arce Lugo Dental House</ion-title>
      <br>
      <div style="border-width: 1px; border-style: solid; border-color: #7bd938;"></div>
    </ion-toolbar>
    <br>
    <ion-menu-toggle auto-hide="false" *ngFor="let page of pages">
      <ion-card
        [routerLink]="page.url" 
        routerDirection="root" 
        [class.active-page]="selectedUrl === page.url" 
        [class.deactive-page]="selectedUrl != page.url" 
        style="margin-bottom: 25px;">

        <ion-button class="menu-button" expand="full" color="secondary">
          <ion-icon [name]="page.icon" slot="start"></ion-icon>
          <ion-title>{{page.title}}</ion-title>
        </ion-button>
        <img class="menu-image" [src]="page.image">
      </ion-card>
    </ion-menu-toggle>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-icon color="primary" name="pulse" slot="start" style="font-size: 30px; margin-left: 5%;"></ion-icon>
      <ion-icon color="primary" name="pulse" slot="end" style="font-size: 30px; margin-right: 5%;"></ion-icon>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<ion-router-outlet id="sidemenu"></ion-router-outlet>
