<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cool-card">
    <ion-item>
      <img src="../assets/images/Logo.png" style="margin-left: auto; margin-right: auto; height: 80px; width: 80px;">
    </ion-item>
    <ion-item>
      
      <ion-title style="text-align: center;">Dr. Humberto Pastor Ortega</ion-title>
      
    </ion-item>
    <ion-item color="primary">
      <ion-icon slot="start" name="pulse" style="color: #fff;"></ion-icon>
      <ion-title>Cirujano Dentista</ion-title>
    </ion-item>
  </ion-card>

  <ion-card class="cool-card">
    <ion-slides pager="true" [options]="slideOpts" autoplay="true" loop="true" class="slider">
      <ion-slide>
        <img src="../assets/images/1s.jpg" width="300px">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/2s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/3s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/4s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/5s.jpg">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="book" color="primary"></ion-icon>
      <ion-title>Dr. Humberto</ion-title>
    </ion-item>

    <ion-item>
      <ion-card-content>
          Uno de los Mejores Dentistas en Tijuana, puede resolver cualquier problema dental que se presente. <br>
          Siempre tratando a sus clientes con el respeto y el cuidado que merecen.
      </ion-card-content>
    </ion-item>
    <img class="image" src="../assets/images/l1.jpg" style="height: 200px;">
  </ion-card>
</ion-content>
