.logo {
    width: 100px; 
    height: 100px; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gallery 
{
    width: 100%;
    height: 260px;
    object-fit: cover;
}