<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cool-card">
    <ion-item>
      <img src="assets/images/Logo.png" style="margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: 80px; width: 80px;">
    </ion-item>
    <ion-item class="cool-item" lines="none">
      <ion-title style="text-align: center;">Dental Zazueta</ion-title>
    </ion-item>
  </ion-card>

  <ion-card class="cool-card">
    <ion-slides pager="true" [options]="slideOpts" autoplay="true" loop="true" class="slider">
      <ion-slide>
        <img src="assets/images/17.jfif" width="300px">
      </ion-slide>
      <ion-slide>
        <img src="assets/images/19.jfif">
      </ion-slide>
      <ion-slide>
        <img src="assets/images/20.jfif">
      </ion-slide>
      <ion-slide>
        <img src="assets/images/15.jfif">
      </ion-slide>
      <ion-slide>
        <img src="assets/images/16.jfif">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="book" color="primary"></ion-icon>
      <ion-title>Dr. Zazueta</ion-title>
    </ion-item>

    <ion-item>
      <ion-card-content>
        El mejor especialista en Ortodoncia de Tijuana. <br>
        Haz una cita para valorar tu caso para conseguir la sonrisa que mereces. 
      </ion-card-content>
    </ion-item>
    <img class="image" src="assets/images/25.jfif" style="height: 320px;">
  </ion-card>
  
</ion-content>
