
.gallery {
    margin: 4px;
    column-count: 2;
    column-gap: 4px;
}

.image-container {
    margin: 0px;
}

.image {
    object-fit: fill;
    height: 100%;
    width: 100%;
    background: var(--ion-color-secondary);
}
.cool-content { 
    --background: var(--ion-color-secondary); 
}