<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #fff;">{{translate.gallery}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let image of data.images; index as i">
        <ion-card class="cool-card" button (click) = "openImage(i)">
          <img class="image" [src]="image">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
