
<ion-menu contentId="sidemenu" type="overlay">

  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-card class="animate__bounceIn container-menu-image">
        <img class="menu-image" src="../assets/images/Logo.png">
      </ion-card>
      <div class="tilt">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
        </svg>
      </div>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="menu-container"> 

   <!-- cambio fix button -->
   <div class="menu-buttons-container">
    <ion-grid style="padding-top: 8px;">
      <ion-row class="ion-align-items-center">


        <ion-col size="12" class="ion-text-center" *ngFor="let page of pages; index as i" (click)="changeSelectedUrl(page.url)">
          <ion-menu-toggle auto-hide="false">
            <ion-button class="animate__animated menu-button" shape="round" fill="outline" lines="none"
              (click)="changeSelectedUrl(page.url)" [routerLink]="page.url" routerDirection="root"
              [class.mb-active]="selectedUrl === page.url" [class.mb-deactive]="selectedUrl != page.url"
              [class.animate__heartBeat]="selectedUrl === page.url">
              <ion-icon [name]="page.icon" slot="end" color="light"></ion-icon>
              <span class="ion-text-left" style="margin-right: auto;">{{t.b_Menu[i][t.currentTranslation]}}</span>
            </ion-button>
          </ion-menu-toggle>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <div *ngIf="showSubscriptionButton()">
            <ion-menu-toggle auto-hide="false">
              <ion-button class="animate__animated menu-button" shape="round" (click)="toggleSalesNotifications()">
                <ion-icon name="star" slot="end" color="light"></ion-icon>
                <span class="ion-text-left" style="margin-right: auto;">{{t.b_Suscribirse[t.currentTranslation]}}</span>
              </ion-button>
            </ion-menu-toggle>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- cambio fix button -->
  </div>
  <!-- parte para arreglar el boton -->
  <div class="l-lines" style="top: 0px;"></div>
  <div class="r-lines" style="top: 0px;"></div>
</ion-content>
<!-- Boton para arreglar el boton -->
<ion-footer class="ion-no-border footer">

  <ion-menu-toggle auto-hide="false">
    <ion-button class="language-button" shape="round" fill="clear" lines="none" (click)="data.changeLanguage()">{{t.b_Lenguaje[t.currentTranslation]}}</ion-button>
    <ion-button class="login-button" shape="round" fill="clear" lines="none" routerLink="/menu/cuenta">{{t.b_Cuenta[t.currentTranslation]}}</ion-button>
  </ion-menu-toggle>
  
  <div class="l-lines" style="bottom: 8px;"></div>
  <div class="r-lines" style="bottom: 8px;"></div>
  <div class="b-lines" style="bottom: 8px;"></div>
  <div style="height: 8px;"></div>
</ion-footer>

</ion-menu>

<ion-router-outlet id="sidemenu"></ion-router-outlet>
