.cover {
    margin: 0;
    height: 50%;
    border-radius: 0px;
    border-width: 0;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    height: 50%;
    background-color: var(--ion-color-primary);
}

.header {
    background: transparent;
    ion-toolbar {
        --background-color: transparent;
        --ion-color-base: transparent !important;
    }
}
ion-text{
    color: black;
}
ion-title {
    color: black;
}