<ion-header>
  <ion-item  lines="none" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="closeImage()" color="light">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-header>


<ion-content fullscreen class="modal-bg-color">
  
  <ion-grid style="height: 100%">
    <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%">
      <ion-col size="12">
        <div class="swiper-zoom-container">
          <img class="img" [src]="data.products[imageIndex].image">
        </div>
      </ion-col>
      <ion-col>
        <ion-item lines="none" color="success" button (click)="openLink(data.products[imageIndex].url)">
          <ion-label>{{translate.jeunesse}}</ion-label>
          <ion-icon slot="end" name="globe" color="light"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
    
</ion-content>
