<ion-buttons slot="start">
  <ion-button (click)="closeImage()">
    <ion-icon slot="icon-only" name="close"></ion-icon>
  </ion-button>
</ion-buttons>

<ion-content>
    <img [src]="imagePath">
</ion-content>
