<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>{{data.t_Inicio[data.currentTranslation]}}</ion-title> -->
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">
  <!-- PORTADA -->
  <ion-card class="animate__animated animate__fadeInLeft cool-card" style="border-style: none;">
    <img src="../assets/images/Logo.png" class="full-image" style="object-fit: cover; height: 240px;">
  </ion-card>
  <div class="cool-line"></div>

  <ion-segment mode="md" color="secondary" [(ngModel)]="selectedTab">
    <ion-segment-button value="login" class="login-off">
      <ion-label style="color: white;">Login</ion-label>
    </ion-segment-button>
    <ion-segment-button  value="register" class="login-off">
      <ion-label style="color: white;">Register</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid class="grid">
    <form>
      <ion-row class="ion-align-items-center" *ngIf="selectedTab == 'login'">
        <ion-col size="12">
          <ion-item lines="none" color="primary" class="animate__animated animate__fadeInLeft ion-text-center input">
            <ion-input type="email" name="email" placeholder="Email" [(ngModel)]="email"></ion-input>
            <ion-icon slot="end" name="mail" color="secondary"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="none" color="primary" class="animate__animated animate__fadeInRight ion-text-center input">
            <ion-input [type]="showPassword ? 'text' : 'password'" name="password" placeholder="Password" [(ngModel)]="password"></ion-input>
            <ion-icon slot="end" name="eye" color="secondary" (click)="togglePassword()"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center" *ngIf="selectedTab == 'register'">
        <ion-col size="12">
          <ion-item lines="none" color="primary" class="animate__animated animate__fadeInLeft ion-text-center input">
            <ion-input type="email" name="email" placeholder="Email" [(ngModel)]="email"></ion-input>
            <ion-icon slot="end" name="mail" color="secondary"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="none" color="primary" class="animate__animated animate__fadeInRight ion-text-center input">
            <ion-input [type]="showPassword ? 'text' : 'password'" name="password" placeholder="Password" [(ngModel)]="password"></ion-input>
            <ion-icon slot="end" name="eye" color="secondary" (click)="togglePassword()"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="none" color="primary" class="animate__animated animate__fadeInLeft ion-text-center input">
            <ion-input [type]="showPassword ? 'text' : 'password'" name="password" placeholder="Repeat Password" [(ngModel)]="rpassword"></ion-input>
            <ion-icon slot="end" name="key" color="secondary"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center" *ngIf="selectedTab == 'login'">
        <ion-col size="12" class="animate__animated animate__fadeInLeft ion-text-center" style="padding: 0 25% 0 25%;">
          <ion-button class="cool-button" shape="round" color="secondary" (click)="login()">Login</ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="animate__animated animate__fadeInRight ion-align-items-center" *ngIf="selectedTab == 'register'">
        <ion-col size="12" class="ion-text-center" style="padding: 0 25% 0 25%;">
          <ion-button class="cool-button" shape="round" color="secondary" (click)="register()">Register</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

</ion-content>
