<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title>APPOINTMENTS</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">

  <div *ngIf="userReady">
    <!-- CREAR request -->
    <br>
    <ion-item lines="none" color="primary">
      <div slot="end" *ngIf="!firebaseService.userData.admin">
        <ion-title class="cool-title">{{firebaseService.userData.requestNumber+' / '+appConfiguration.maxUserRequestNumber}}</ion-title>
      </div>
      <ion-title class="cool-title">Request Appointments</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-grid class="grid">
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button class="cool-button add-appointment-button" shape="round" color="secondary" (click)="createAppointment()" [disabled]="!allowRequest()">
            Create Request
            <ion-icon slot="start" name="add" color="primary" style="font-size: 32px;"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <br>

    <!-- LISTA DE SOLICITUDES USUARIO-->
    <div *ngIf="!firebaseService.userData.admin">
      <ion-item lines="none" color="primary">
        <ion-icon slot="end" name="list" color="#fff"></ion-icon>
        <ion-title class="cool-title">Requests Sent</ion-title>
      </ion-item>

      <div class="cool-line"></div>

      <ion-card class="animate__animated animate__fadeInRight cool-card sub-card" style="padding: 32px 0 32px 0;" *ngIf="requests.length === 0">
        <div class="pin" style="top: -5px;"></div>

        <ion-item lines="none" color="primary">
          <ion-icon slot="start" name="information-circle" color="light"></ion-icon>
          <ion-label class="cool-text" color="medium">You have not sent any request</ion-label>
        </ion-item>

        <div class="pin" style="bottom: -5px;"></div>
      </ion-card>

      <ion-card class="cool-card"  *ngFor="let request of requests index as i">
        <ion-item lines="none">
          <ion-icon slot="start" name="radio-button-on" [color]="getRequestState(request.state).color" style="font-size: 24px;"></ion-icon>
          <ion-text>{{getRequestState(request.state).text}}</ion-text>
  
          <ion-buttons slot="end" style="padding: 12px;">
            <ion-button class="view-button" color="secondary" shape="round" size="small" (click)="updateAppointment(request)">
              <ion-icon slot="icon-only" name="options"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
  
        <!-- <div class="cool-line"></div>
  
        <ion-card class="cool-card" style="border-style: none;">
          <ion-item lines="none">
            <ion-label>Date</ion-label>
          </ion-item>
          
          <div class="cool-line"></div>
  
          <ion-item lines="none">
            <ion-icon slot="start" name="calendar" color="#fff"></ion-icon>
            <ion-datetime slot="end" class="cool-picker"
                [value]="request.date.toISOString()"
                display-format="DDDD DD / MMMM / YYYY"
                readonly="true"></ion-datetime>
          </ion-item>
          <ion-item lines="none">
            <ion-icon slot="start" name="time" color="#fff"></ion-icon>
            <ion-datetime slot="end" class="cool-picker"
                [value]="request.date.toISOString()"
                display-format="hh : mm a"
                readonly="true"></ion-datetime>
          </ion-item>
        </ion-card> -->
  
        <!-- FLEXTIME -->
        <!-- <ion-card class="cool-card" style="border-style: none;" *ngIf="request.flextime">
  
          <div class="cool-line"></div>
  
          <ion-item lines="none">
            <ion-label>Flextime</ion-label>
          </ion-item>
  
          <div class="cool-line"></div>
  
          <ion-item lines="none">
            <ion-icon slot="start" name="swap-horizontal" color="#fff"></ion-icon>
            <ion-text >Time Range</ion-text>
          </ion-item>
  
          <ion-range class="range" dualKnobs="true" min="-8" max="8" step="1" snaps="true" pin="true" [value]="{lower: request.ftBefore, upper: request.ftAfter}" color="secondary">
            <ion-text class="cool-text" slot="start">{{request.ftBefore}}</ion-text>
            <ion-text class="cool-text" slot="end">{{request.ftAfter}}</ion-text>
          </ion-range> -->
  
          <!-- <ion-item lines="none">
            <ion-icon slot="start" name="chatbox" color="#fff"></ion-icon>
            <ion-text >Phone</ion-text>
          </ion-item> -->
  
          <ion-card class="cool-card" style="border-radius: 8px;">
          
            <ion-card-content>Phone: {{ request.message }}</ion-card-content>
          </ion-card>
        <!-- </ion-card> -->
      </ion-card>
    </div>

    <!-- LISTA DE SOLICITUDES ADMIN-->
    <div *ngIf="firebaseService.userData.admin">

      <ion-item lines="none" color="primary">
        <ion-icon slot="end" name="list" color="#fff"></ion-icon>
        <ion-title class="cool-title">Requests</ion-title>
      </ion-item>

      <ion-segment color="secondary" [(ngModel)]="selectedTab">
        <ion-segment-button class="cool-segment" value="pending">
          <ion-label>Pending</ion-label>
        </ion-segment-button>
        <ion-segment-button class="cool-segment" value="accepted">
          <ion-label>Completed</ion-label>
        </ion-segment-button>
        <!-- <ion-segment-button class="cool-segment" value="rejected">
          <ion-label>Rejected</ion-label>
        </ion-segment-button> -->
      </ion-segment>

      <div class="cool-line"></div>
      
      <div *ngIf="selectedTab === 'pending'">
        <ion-card class="animate__animated animate__fadeInRight cool-card sub-card" style="padding: 16px 0 16px 0;" *ngIf="getRequestsByState(0).length === 0">
          <div class="pin" style="top: -5px;"></div>
  
          <ion-item lines="none" color="primary">
            <ion-icon slot="start" name="information-circle" color="light"></ion-icon>
            <ion-label class="cool-text" color="medium">No pending requests</ion-label>
          </ion-item>
  
          <div class="pin" style="bottom: -5px;"></div>
        </ion-card>
  
        <ion-card 
        class="animate__animated animate__fadeInRight"
        [class.cool-secondary-card]="isVIP(request.user.rating)" 
        [class.cool-card]="!isVIP(request.user.rating)"  
        *ngFor="let request of getRequestsByState(0) index as i">
          <ion-item lines="none">
            <div>
              <ion-text>{{request.user.username}}</ion-text>
            </div>
            <div style="display: inline-block;">
              <ion-badge color="secondary" style="position: absolute; right: 32px; top: 12px; font-size: 16px;">
                {{request.user.rating}}
                <ion-icon name="star" color="primary"></ion-icon>
              </ion-badge>
            </div>
          </ion-item>
    
          <ion-grid class="grid">
            <ion-row class="ion-align-items-center">
              <ion-col size="4" class="ion-text-center">
                <div (click)="phoneCall(request.message)">
                  <ion-icon class="view-button" name="call" [color]="isVIP(request.user.rating) ? 'primary' : 'secondary'"></ion-icon>
                </div>
              </ion-col>
              <!-- <ion-col size="3" class="ion-text-center">
                <div (click)="rejectConfirm(request)">
                  <ion-icon class="view-button" name="close-circle" [color]="isVIP(request.user.rating) ? 'primary' : 'secondary'"></ion-icon>
                </div>
              </ion-col> -->
              <ion-col size="4" class="ion-text-center">
                <div (click)="getTempUser(request.user.id)">
                  <ion-icon class="view-button" name="person-circle" [color]="isVIP(request.user.rating) ? 'primary' : 'secondary'"></ion-icon>
                </div>
              </ion-col>
              <ion-col size="4" class="ion-text-center">
                <div (click)="updateAppointment(request)">
                  <ion-icon class="view-button" name="options" [color]="isVIP(request.user.rating) ? 'primary' : 'secondary'"></ion-icon>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
    
          <div class="cool-line"></div>
    
          <!-- <ion-card 
          [class.cool-secondary-card]="isVIP(request.user.rating)" 
          [class.cool-card]="!isVIP(request.user.rating)"
          style="border-style: none;">
            <ion-item lines="none">
              <ion-label>Date</ion-label>
            </ion-item>
            
            <div class="cool-line"></div>
    
            <ion-item lines="none">
              <ion-icon slot="start" name="calendar" color="#fff"></ion-icon>
              <ion-datetime slot="end" class="cool-picker"
                  [value]="request.date.toISOString()"
                  display-format="DDDD DD / MMMM / YYYY"
                  readonly="true"></ion-datetime>
            </ion-item>
            <ion-item lines="none">
              <ion-icon slot="start" name="time" color="#fff"></ion-icon>
              <ion-datetime slot="end" class="cool-picker"
                  [value]="request.date.toISOString()"
                  display-format="hh : mm a"
                  readonly="true"></ion-datetime>
            </ion-item>
          </ion-card> -->
    
          <!-- FLEXTIME -->
          <!-- <ion-card class="cool-card" style="border-style: none;" *ngIf="request.flextime">
    
            <div class="cool-line"></div>
    
            <ion-item lines="none">
              <ion-label>Flextime</ion-label>
            </ion-item>
    
            <div class="cool-line"></div>
    
            <ion-item lines="none">
              <ion-icon slot="start" name="swap-horizontal" color="light"></ion-icon>
              <ion-text >Time Range</ion-text>
            </ion-item>
    
            <ion-range class="range" dualKnobs="true" min="-8" max="8" step="1" snaps="true" pin="true" [value]="{lower: request.ftBefore, upper: request.ftAfter}" color="secondary">
              <ion-text class="cool-text" slot="start">{{request.ftBefore}}</ion-text>
              <ion-text class="cool-text" slot="end">{{request.ftAfter}}</ion-text>
            </ion-range>
    
            <ion-item lines="none">
              <ion-icon slot="start" name="chatbox" color="#fff"></ion-icon>
              <ion-text >Service</ion-text>
            </ion-item> -->
    
            <ion-card class="cool-card" style="border-radius: 8px;">
              <ion-card-content>Phone: {{ request.message }}</ion-card-content>
            </ion-card>
          <!-- </ion-card> -->
        </ion-card>
      </div>

      <!-- SOLICITUDES ACEPTADAS -->
      <ion-card class="animate__animated animate__fadeInRight cool-card sub-card" style="padding: 16px 0 16px 0;" *ngIf="selectedTab === 'accepted'">
        <div class="pin" style="top: -5px;"></div>

        <div *ngFor="let request of getRequestsByState(1) index as i">
          <ion-item lines="none" color="primary" style="margin-top: 8px; margin-bottom: 8px;">
            <div style="display: inline-block;">
              <ion-icon name="radio-button-on" [color]="getRequestState(request.state).color" style="font-size: 24px;"></ion-icon>
            </div>
            <div style="display: inline-block;">
              <ion-text style="margin: 16px;">
                {{request.user.username}}
              </ion-text>
              <!-- <ion-datetime class="cool-picker" style="font-weight: lighter; font-size: small;"
                [value]="request.date.toISOString()"
                display-format="DDDD DD / MMMM"
                readonly="true"></ion-datetime> -->
            </div>
            
            
            <div style="display: inline-block;">
              <br>
              <div>
                <ion-badge color="secondary" style="position: absolute; right: 14px; top: 2px;">
                  {{request.user.rating}}
                  <ion-icon name="star" color="primary"></ion-icon>
                </ion-badge>
              </div>
              <div style="position: absolute; right: 10px; bottom: 4px;">
                <div class="list-button" (click)="getTempUser(request.user.id)">
                  <ion-icon name="person-circle" color="secondary" style="font-size: 24px;"></ion-icon>
                </div>
                <div class="list-button" (click)="updateAppointment(request)">
                  <ion-icon name="ellipsis-horizontal-circle" color="secondary" style="font-size: 24px;"></ion-icon>
                </div>
              </div>
            </div>
          </ion-item>

          <div class="cool-line" *ngIf="i < getRequestsByState(1).length-1"></div>
        </div>

        <ion-item lines="none" color="primary" *ngIf="getRequestsByState(1).length === 0">
          <ion-icon slot="start" name="information-circle" color="light"></ion-icon>
          <ion-label class="cool-text" color="medium">No accepted requests</ion-label>
        </ion-item>

        <div class="pin" style="bottom: -5px;"></div>
      </ion-card>

      <!-- SOLICITUDES RECHAZADAS -->
      <!-- <ion-card class="animate__animated animate__fadeInRight cool-card sub-card" style="padding: 16px 0 16px 0;" *ngIf="selectedTab === 'rejected'">
        <div class="pin" style="top: -5px;"></div>

        <div *ngFor="let request of getRequestsByState(2) index as i">
          <ion-item lines="none" color="primary" style="margin-top: 8px; margin-bottom: 8px;">
            <div style="display: inline-block;">
              <ion-icon name="radio-button-on" [color]="getRequestState(request.state).color" style="font-size: 24px;"></ion-icon>
            </div>
            <div style="display: inline-block;">
              <ion-text style="margin: 16px;">
                {{request.user.username}}
              </ion-text>
              <ion-datetime class="cool-picker" style="font-weight: lighter; font-size: small;"
                [value]="request.date.toISOString()"
                display-format="DDDD DD / MMMM"
                readonly="true"></ion-datetime>
            </div>
            
            
            <div style="display: inline-block;">
              <br>
              <div>
                <ion-badge color="secondary" style="position: absolute; right: 14px; top: 2px;">
                  {{request.user.rating}}
                  <ion-icon name="star" color="primary"></ion-icon>
                </ion-badge>
              </div>
              <div style="position: absolute; right: 10px; bottom: 4px;">
                <div class="list-button" (click)="getTempUser(request.user.id)">
                  <ion-icon name="person-circle" color="secondary" style="font-size: 24px;"></ion-icon>
                </div>
                <div class="list-button" (click)="updateAppointment(request)">
                  <ion-icon name="ellipsis-horizontal-circle" color="secondary" style="font-size: 24px;"></ion-icon>
                </div>
              </div>
            </div>
          </ion-item>

          <div class="cool-line" *ngIf="i < getRequestsByState(2).length-1"></div>
        </div>

        <ion-item lines="none" color="primary" *ngIf="getRequestsByState(2).length === 0">
          <ion-icon slot="start" name="information-circle" color="light"></ion-icon>
          <ion-label class="cool-text" color="medium">No rejected requests</ion-label>
        </ion-item>

        <div class="pin" style="bottom: -5px;"></div>
      </ion-card> -->

    </div>
  </div>

</ion-content>
