<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #fff;">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cool-card">
    <ion-item lines="none">
      <img src="../assets/images/Logo.png" style="margin-left: auto; margin-right: auto; margin-top: 12px; margin-bottom: 12px; height: 160px; width: 160px;">
    </ion-item>

    <!-- <ion-item lines="none">
      <ion-title style="text-align: center;">Dr. Gonzalez</ion-title>
    </ion-item> -->

    <!-- <ion-item lines="none" class="cool-item">
      <ion-title style="text-align: center;">Centro de Ortodoncia Dental</ion-title>
    </ion-item> -->
  </ion-card>

  <ion-card class="cool-card">
    <ion-slides pager="true" [options]="slideOpts" autoplay="true" loop="true" class="slider">
      <ion-slide>
        <img src="../assets/images/1s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/2s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/3s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/4s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/5s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/6s.jpg">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="book" color="primary"></ion-icon>
      <ion-title style="margin: 12px; margin-left: 0px;">Centro de Ortodoncia <br>Dental</ion-title>
    </ion-item>

    <ion-item lines="none">
      <ion-card-content>
        Trabajamos desde hace 30 años, en la ciudad de Tijuana, Baja California.<br>
        Hemos logrado formar un equipo médico con distintas especialidades de la odontología clínica y estética. 
        Especialistas en niños, adolescentes y adultos.<br>
        Cabria que destacar la importancia que damos en la atención humana, profesional y cálida, pero también la comodidad de 
        nuestras instalaciones y un estacionamiento público seguro con vigilancia las 24 hrs.<br>
        Son muchas nuestras fortalezas las que nos permite decir que somos los mejores.<br>
        Haz una cita lo antes posible para brindarle una sonrisa Totalmente Radiante!
      </ion-card-content>
    </ion-item>
    <img class="image" src="../assets/images/l1.jpg" style="height: 120px;">
  </ion-card>

  <ion-card class="cool-card">
    <ion-item lines="none" class="cool-item">
      <ion-icon slot="end" name="settings" color="light"></ion-icon>
      <ion-title>Procedimientos:</ion-title>
    </ion-item>

    <ion-item>
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Ortodoncia</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Endodoncia</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Periodoncia</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Implantes</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Rehabilitacion</ion-label>
    </ion-item>
  </ion-card>

  <ion-card class="cool-card">
    <ion-item lines="none" class="cool-item">
      <ion-icon slot="end" name="eye" color="light"></ion-icon>
      <ion-title>Clientes Satisfechos</ion-title>
    </ion-item>

    <video style="width: 100%; height: 400px;" controls>
      <source src="../assets/videos/1.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
  </ion-card>
</ion-content>
