/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//Animations
@import "~animate.css/animate.min.css";

//Menu

//General
.custom-font {
    font-family: 'PT Sans', sans-serif;
}

.image {
    background-color: #fff; width: 100%; height: 140px; object-fit: cover;
}

.cool-card {
    --ion-background-color: #fff; 
    --background: #fff;
    border-radius: 24px;
    font-family: 'PT Sans', sans-serif;
    /*border-width: 1px; 
    border-color: var(--ion-color-secondary);
    border-style: solid;
    */
    //--box-shadow: none !important;
    box-shadow: none;

    ion-title { font-size: 18px; font-weight: 800; font-family: 'PT Sans', sans-serif; }
    ion-card-content { font-family: 'PT Sans', sans-serif; }
    ion-item { font-family: 'PT Sans', sans-serif; }
    ion-text { font-family: 'PT Sans', sans-serif; }
}

.cool-item {
    --color: #fff; --background: var(--ion-color-primary);
}

.cool-line {
    border-width: 1px; border-style: solid; border-color: var(--ion-color-primary);
}

.cool-image {
    --ion-background-color: #fff; 
    border-radius: 16px;
    border-width: 1px; 
    border-color: var(--ion-color-primary);
    border-style: solid;
    box-shadow: none;
}

.cool-button {
    --background: var(--ion-color-primary);
    --box-shadow: none !important;
    font-weight: 700;
    color: white;
    height: 40px;
    font-family: 'PT Sans', sans-serif;
}

.pattern-bg { 
    --background: var(--ion-color-secondary);
    //linear-gradient(to top, #3880ff, #3880ff, #99dfff, #99dfff, #99dfff); //url(./assets/images/bg.png); 
    //background-attachment: scroll; 
}

.animate__animated {
    --animate-duration: 600ms;
}

//Home
.cover {
    margin: 0;
    height: 200px;
    border-radius: 0px;
}

.cover-image {
    width: 100%;
    object-fit: cover;
}

.slider {
    background-color: #fff; 
    --bullet-background: #383a3e; 
    --bullet-background-active: var(--ion-color-primary); 
    height: 230px; 
    padding: 0;
}

.slider-image {
    width: 100%;
    object-fit: cover;
}

//Modal Image
.modal-bg-color { --background: var(--ion-color-primary) /*url(./assets/images/bg.png)*/ /*rgba(46,220,255, 0.85)*/ !important ; }

.modal-transparency { 
    --background: transparent; 
    --height: 100%;
  
    ion-item {
        --background: var(--ion-color-primary);
        color: white;
   }

    ion-content {
        width: 100%;
        height: 100%;
        --background: transparent;
        vertical-align: middle;
        text-align: center;
   }
}

//Other


