/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//Animations
@import "~animate.css/animate.min.css";
//General
.image {
    background-color: #fff; width: 100%; height: 120px; object-fit: cover;
}

.slider {
    background-color: #000000; --bullet-background: #f3152c; --bullet-background-active: var(--ion-color-primary); height: 350px;
}

.cool-card {
    --ion-background-color: #000000; 
    border-width: 1px;border-color: white;border-style: solid;
    border-radius: 0px;
    box-shadow: none;
    ion-title { 
        color: #fff;
        font-size: 18px; font-weight: 800;
    }
    /*border-width: 1px; 
    border-color: var(--ion-color-secondary);
    border-style: solid;
    */
    ion-card-content {
        color: #fff;
    }
    ion-label{
        color: #fff;
    }
    ion-item{
        color: #fff;
    }
}
.cool-item {
    --color: #fff; --background: var(--ion-color-primary);
}
.cool-line {
    border-width: 1px; border-style: solid; border-color: var(--ion-color-primary);
}

.cool-image {
    --ion-background-color: #fff; 
    border-radius: 0px;
    border-width: 1px; 
    border-color: var(--ion-color-secondary);
    border-style: solid;
}

.pattern-bg { 
    //--background: url(./assets/images/bg.png); 
    --background: #000000;
}

.animate__animated {
    --animate-duration: 600ms;
}

// //Modal Image
// .modal-bg-color { --background: url(./assets/images/bg.png) /*rgba(46,220,255, 0.85)*/ !important ; }

.modal-transparency { 
    --background: var(--ion-color-primary); 
    --height: 100%;
  
    ion-item {
     --background: var(--ion-color-primary);
     color: white;
   }

    ion-content {
       width: 100%;
       height: 100%;
     --background: transparent;
        vertical-align: middle;
        text-align: center;
   }
}



