
<ion-menu contentId="sidemenu" type="overlay">

  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-card class="container-menu-image">
        <img class="animate__animated animate__heartBeat menu-image" src="../assets/images/Logo.png">
      </ion-card>
      <div class="triangle">
        <div class="h-lines"></div>
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z" class="shape-fill"></path>
        </svg>
      </div>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="menu-container"> 
    <ion-grid style="padding-top: 40px;">
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center" style="margin-top: 8px;" *ngFor="let page of pages">
          <ion-menu-toggle auto-hide="false">
            <ion-button class="menu-button" shape="round" fill="outline" lines="none"
              [routerLink]="page.url" 
              routerDirection="root"
              [class.mb-active]="selectedUrl === page.url"
              [class.mb-deactive]="selectedUrl != page.url">
              <ion-icon [name]="page.icon" slot="end" color="light"></ion-icon>
              <span class="ion-text-left" style="margin-right: auto;">{{page.title}}</span>
            </ion-button>
          </ion-menu-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="l-lines"></div>
    <div class="r-lines"></div>
    <div class="b-lines"></div>

  </ion-content>

</ion-menu>

<ion-router-outlet id="sidemenu"></ion-router-outlet>
