<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #000;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #000;">HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cool-content" [scrollEvents]="true" (ionScroll)="didScroll($event)">

  <!-- BOTON CONTACTO -->
  <ion-fab vertical="top" horizontal="end" edge slot="fixed" class="fab-button">
    <ion-fab-button>
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button *ngFor="let numero of d.phoneNumbers" (click)="data.phoneCall(numero.number)" color="secondary">
        <ion-icon name="call"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button *ngFor="let red of d.socialNetworks" (click)="data.openLink(red.link)" color="tertiary">
        <ion-icon [name]="red.icon"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- PORTADA -->
  <ion-card class="animate__animated animate__fadeInLeft cool-card" style="border-style: none;">
      <img src="../assets/images/Logo.png" class="full-image" style="object-fit: cover; height: 240px;">
  </ion-card>  
  <div class="cool-line"></div> 

  <!-- BLOG -->
  <ion-card class="cool-card sub-card" *ngIf="!postsReady">
    <div class="pin" style="top: -5px;"></div>
    <ion-item>
      <ion-progress-bar type="indeterminate" color="light"></ion-progress-bar>
    </ion-item>
    <div class="pin" style="bottom: -5px;"></div>
  </ion-card>

  <div *ngIf="postsReady">
    <ion-card class="animate__animated animate__fadeInUp cool-secondary-card">
      <ion-slides pager="true" [options]="slideSales" autoplay="true">
        <ion-slide *ngFor="let post of posts" style="height: 100%;">
          <div class="post-button" *ngIf="showPostEdit()" (click)="viewPost(post)">
            <ion-icon color="light" name="ellipsis-horizontal" style="font-size: 24px;"></ion-icon>
          </div>
          <div style="margin-bottom: 48px;">
            <ion-item>
              <ion-text class="cool-secondary-title" style="color: #000;">{{post.title}}</ion-text>
              <ion-badge *ngIf="post.sale !==''" slot="end" color="danger" style="font-size: 18px;">{{post.sale}}</ion-badge>
            </ion-item>
        
            <ion-item lines="none">
              <ion-card-content [innerHtml]="post.content" style="color: #000;">
                <!-- {{post.content}} -->
              </ion-card-content>
            </ion-item>
          </div>
        </ion-slide>
      </ion-slides>
      <div class="create-post-button" *ngIf="showPostCreate()" (click)="createPost()">
        <ion-icon color="light" name="add" style="font-size: 32px;"></ion-icon>
      </div>
    </ion-card>

    <div *ngIf="showPostCreate() && posts.length === 0">
      <ion-grid class="grid">
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button class="cool-button" shape="round" color="secondary" (click)="createPost()">
              Create Post
              <ion-icon slot="end" name="share" color="dark"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <!-- DESCRIPCION -->
  <ion-card class="animate__animated animate__fadeInLeft cool-card">
    <ion-item color="secondary">
      <ion-icon slot="end" name="book" color="dark"></ion-icon>
      <ion-title>{{d.appTitle}}</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-item lines="none">
      <ion-card-content [innerHtml]="d.homeDescription">
        {{d.homeDescription}}
      </ion-card-content>
    </ion-item>
  </ion-card>

  <!-- SLIDER -->
  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-slides pager="true" [options]="slideOpts" autoplay="true" loop="true" class="slider">
      <ion-slide *ngFor="let image of slider">
        <img [src]="image" style="width: 100%; height: 100%; object-fit: fill;">
      </ion-slide>
    </ion-slides>
  </ion-card>

 <!-- SERVICIOS -->
 <!-- <ion-card class="cool-card">
  <ion-item lines="none" color="secondary">
    <ion-icon slot="end" name="list" color="light"></ion-icon>
    <ion-title>Services</ion-title>
  </ion-item>

  <div class="cool-line"></div>

  <ion-grid>
    <ion-row *ngFor="let service of d.homeServices" style="padding: 8px 0 8px 0;">
      <ion-col>
        <div class="ion-text-start cool-text">
          <ion-text>{{service.name}}</ion-text> <br> 
          <ion-text style="color: rgb(204, 204, 204);">{{service.time}}</ion-text> <br>
          <ion-text  class="ion-text-capitalize" style="color: antiquewhite;">{{service.description}}</ion-text>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-end cool-text">
          <ion-text>{{service.price}}</ion-text>
        </div>
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-card>  -->

  <!-- HORARIO -->
  <ion-card class="cool-card">
    <ion-item lines="none" color="secondary">
      <ion-icon slot="end" name="calendar" color="dark"></ion-icon>
      <ion-title>Schedule</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-grid>
      <ion-row *ngFor="let schedule of schedules index as i">
        <ion-col>
          <div class="ion-text-start cool-text">
            <ion-text>{{schedule.day}}</ion-text>
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-end cool-text">
            <ion-text>{{schedule.hour}}</ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- VIDEO -->
  <ion-card class="animate__animated animate__fadeInLeft cool-card" *ngFor="let video of videos">

    <video #player playsinline preload="auto" style="width: 100%; background-color: #1a1a1a;" controls>
      <source [src]="video" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
  </ion-card>
  <div style="margin-bottom: 96px;"></div>

   <!-- MUSICA -->
   <!-- <ion-card *ngFor="let audio of audios">
   <audio controls>
    <source [src]="audios" type="audio/mpeg">
  </audio>
</ion-card>    -->


  <!-- FLYER -->
  <!-- <ion-card class="cool-card">
    <img src="../assets/images/f.jpg">
  </ion-card> -->

</ion-content>