<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #fff;">{{translate.home}}</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="pattern-bg">

   <!-- BOTON CONTACTO -->
   <ion-fab vertical="top" horizontal="end" edge slot="fixed" class="fab-button">
    <ion-fab-button>
      <ion-icon name="grid"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button *ngFor="let numero of data.phones" (click)="data.phoneCall(numero.call)" color="secondary">
        <ion-icon name="call"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button *ngFor="let red of data.redesSociales" (click)="data.openLink(red.link)" color="primary">
        <ion-icon [name]="red.icon"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-card class="animate__animated animate__fadeInLeft cool-card" style="--ion-background-color: #ffffff;
  border-width: 1px;border-color: #000000;border-style: solid;">
    <ion-item lines="none">
      <img src="../assets/images/Logo.png" style="margin-left: auto; margin-right: auto; margin-top: 12px; margin-bottom: 12px; height: 160px; width: 160px;">
    </ion-item>
  </ion-card>

  <ion-card class="cool-card">
    <ion-slides pager="true" [options]="slideOpts" autoplay="true" loop="true" class="slider">
      <ion-slide *ngFor="let image of data.sliderImages">
        <img [src]="image" style="width: 100%; height: 100%; object-fit: fill;">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card class="animate__animated animate__fadeInLeft cool-card">
    <ion-item lines="none" class="cool-item">
      <ion-icon slot="end" name="book" color="light"background-color="primary"></ion-icon>
      <ion-title style="margin: 12px; margin-left: 0px;">{{translate.appTitle}}</ion-title>
    </ion-item>

    <ion-item lines="none">
      <ion-card-content>
        {{translate.description}}
      </ion-card-content>
    </ion-item>
    <img class="image" src="../assets/images/l1.jpg" style="height: 150px;  ">
  </ion-card>
   <ion-card class="cool-card">

    <!-- <ion-item lines="none" class="cool-item">
      <ion-icon slot="end" name="eye" color="light"></ion-icon>
      <ion-title>Video 👌</ion-title>
    </ion-item>  -->

    <video style="width: 100%; background-color: #252026;" controls>
          <source src="../assets/videos/1.mp4#t=1" type="video/mp4">
          Your browser does not support HTML5 video.
        </video> 
  </ion-card>  
  
 <!-- <ion-card class="animate__animated animate__fadeInLeft cool-card">
    <ion-item lines="none">
      <img src="../assets/images/f.jpg" style="height: 300px; width: 100%;">
    </ion-item>
  </ion-card>  -->

  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item lines="none" class="cool-item">
      <ion-icon slot="end" name="settings" color="light"></ion-icon>
      <ion-title>{{translate.procedures}}</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-item *ngFor="let procedure of translate.procedureList">
      <ion-icon slot="end" name="checkmark" color="light"></ion-icon>
      <ion-label>{{procedure}}</ion-label>
    </ion-item>
  </ion-card>
</ion-content> 
