<ion-menu side="start" contentId="sidemenu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title style="color: #fff;">Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-toolbar>
      <br>
      <ion-title class="ion-text-center">Dental Cosmetic Studio</ion-title>
      <br>
      <div class="cool-line"></div>
    </ion-toolbar>
    <br>
    <ion-menu-toggle auto-hide="false" *ngFor="let page of pages">
      <ion-card
        [routerLink]="page.url" 
        routerDirection="root" 
        [class.active-page]="selectedUrl === page.url" 
        [class.deactive-page]="selectedUrl != page.url" 
        style="margin-bottom: 25px;">

        <ion-item lines="none" class="menu-button">
          <ion-icon [name]="page.icon" slot="end" color="light"></ion-icon>
          <ion-title>{{page.title}}</ion-title>
        </ion-item>
        <img class="menu-image" [src]="page.image">
      </ion-card>
    </ion-menu-toggle>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-icon color="primary" name="pulse" slot="start" style="font-size: 30px; margin-left: 5%;"></ion-icon>
      <ion-icon color="primary" name="pulse" slot="end" style="font-size: 30px; margin-right: 5%;"></ion-icon>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<ion-router-outlet id="sidemenu"></ion-router-outlet>
