<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #fff;">Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- TELEFONO -->
  <ion-card class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="call" color="primary"></ion-icon>
      <ion-title>Telefonos</ion-title>
    </ion-item>

    <br>
    <ion-card-subtitle style="margin-left: 5%;">Celular:</ion-card-subtitle>
    <ion-item>
      <ion-label>664 806 0672</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>USA 619 786 9374</ion-label>
    </ion-item>
    <!-- <br>
    <ion-card-subtitle style="margin-left: 5%;">Telefono:</ion-card-subtitle>
    <ion-item lines="none">
      <ion-label>Emergencias: 664 374 9077</ion-label>
    </ion-item> -->

    <!-- <ion-item lines="none" class="cool-item" button routerLink="/llamada"> -->
    <ion-item lines="none" class="cool-item" button (click)="showNumberList($event)">
      <ion-label style="text-align: center;">Llamar</ion-label>
      <ion-icon name="call" color="light"></ion-icon>
    </ion-item>
  </ion-card>

  <!-- DIRECCION -->
  <ion-card class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="locate" color="primary"></ion-icon>
      <ion-title>Direccion</ion-title>
    </ion-item>

    <ion-item lines="none" style="margin-top: 12px; margin-bottom: 12px;">
      Av. Padilla #327, Local 12, Tijuana, B.C. (A una cuadra de la garita "El Chaparral")
    </ion-item>
  </ion-card>

  <!-- MAPA -->
  <ion-card  class="cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="map" color="primary"></ion-icon>
      <ion-title>Ubicacion</ion-title>
    </ion-item>

    <iframe style="width: 100%; height: 300px;"
      src="https://maps.google.com/maps?q=Av.%20Padilla%20%23327%2C%20Tijuana%2C%20B.C.&t=&z=15&ie=UTF8&iwloc=&output=embed"
      frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    <div
      style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
      <small style="line-height: 1.8;font-size: 2px;background: #fff;">
        Map by <a href="https://www.googlemapsembed.net/" rel="nofollow">Embed Google Maps</a>
      </small>
    </div>
    <style>
      #gmap_canvas img {
        max-width: none !important;
        background: none !important
      }
    </style>
  </ion-card >
  <!-- Embed code -->
  <script type="text/javascript">(new Image).src = "//googlemapsembed.net/get?r" + escape(document.referrer);</script>
  <script type="text/javascript" src="https://googlemapsembed.net/embed"></script>
  <!-- END CODE -->
  
  <!-- REDES SOCIALES -->
  <ion-card class="cool-card">
    <ion-item >
      <ion-icon slot="end" name="people" color="primary"></ion-icon>
      <ion-title>Redes Sociales</ion-title>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="start" name="mail" color="primary"></ion-icon>
      <ion-label>dentalcosmeticstudio@hotmail.com</ion-label>
    </ion-item>

    <ion-item class="cool-item" button (click)="openLink('https://dentalcosmeticstud.wixsite.com/dentalcosmeticstudio?fbclid=IwAR2tQIoYwZYjEpYh6TebTTki4KLwgTUKmgPdsZV1jaVSBMJyYa2_laDS4yw')">
      <ion-icon slot="start" name="globe" color="light"></ion-icon>
      <ion-label>dentalcosmeticstud.wixsite.com</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="cool-item" button (click)="openLink('https://www.facebook.com/DENTALCOSMETICSTUDIOTIJUANA/')">
      <ion-icon slot="start" name="logo-facebook" color="light"></ion-icon>
      <ion-label>DENTALCOSMETICSTUDIOTIJUANA</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="cool-item" button (click)="openLink('https://www.instagram.com/dental_cosmeticstudio/')">
      <ion-icon slot="start" name="logo-instagram" color="light"></ion-icon>
      <ion-label>dental_cosmeticstudio</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>