<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #fff;">Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- TELEFONO -->
  <ion-card class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="call" color="primary"></ion-icon>
      <ion-title>Telefonos</ion-title>
    </ion-item>

    <br>
    <ion-card-subtitle style="margin-left: 5%;">Celular:</ion-card-subtitle>
    <ion-item>
      <ion-label>USA 619 618 8008</ion-label>
    </ion-item>
    <br>
    <ion-card-subtitle style="margin-left: 5%;">Telefono:</ion-card-subtitle>
    <ion-item>
      <ion-label>664 685 6313</ion-label>
    </ion-item>

    <ion-item lines="none" class="cool-item" button routerLink="/llamada">
      <ion-label style="text-align: center;">Llamar</ion-label>
      <ion-icon name="call" color="light"></ion-icon>
    </ion-item>
  </ion-card>

  <!-- DIRECCION -->
  <ion-card class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="locate" color="primary"></ion-icon>
      <ion-title>Direccion</ion-title>
    </ion-item>

    <ion-item>
      Calle Salvador Díaz Mirón 4ta. 8279, Zona Centro, 22000 Tijuana, B.C.
    </ion-item>
  </ion-card>

  <!-- MAPA -->
  <ion-card  class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="map" color="primary"></ion-icon>
      <ion-title>Ubicacion</ion-title>
    </ion-item>

    <iframe style="width: 100%; height: 300px;"
      src="https://maps.google.com/maps?q=Calle%204ta%2C%2022000%20Tijuana%20Dental%20%26%20Braces&t=&z=15&ie=UTF8&iwloc=&output=embed"
      frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    <div
      style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
      <small style="line-height: 1.8;font-size: 2px;background: #fff;">
        Map by <a href="https://www.googlemapsembed.net/" rel="nofollow">Embed Google Maps</a>
      </small>
    </div>
    <style>
      #gmap_canvas img {
        max-width: none !important;
        background: none !important
      }
    </style>
  </ion-card >
  <!-- Embed code -->
  <script type="text/javascript">(new Image).src = "//googlemapsembed.net/get?r" + escape(document.referrer);</script>
  <script type="text/javascript" src="https://googlemapsembed.net/embed"></script>
  <!-- END CODE -->
  
  <!-- REDES SOCIALES -->
  <ion-card class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="people" color="primary"></ion-icon>
      <ion-title>Redes Sociales</ion-title>
    </ion-item>

    <!-- <ion-item>
      <ion-icon slot="start" name="mail" color="primary"></ion-icon>
      <ion-label>correo@hotmail.com</ion-label>
    </ion-item> -->

    <ion-item class="cool-item" button (click)="openLink('https://www.doctoralia.com.mx/patricia-padilla-de-kobisher/dentista-odontologo/tijuana')">
      <ion-icon slot="start" name="contact" color="light"></ion-icon>
      <ion-label>www.doctoralia.com.mx</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item>

    <ion-item class="cool-item" button (click)="openLink('http://www.sdro.com/dentistas_profesionales_tijuana/?fbclid=IwAR33KSNHwKoIokQ9wonq5FQkOv2g4sH_X5JaIp1nvzLFw8r2mLMOb3QqWXc')">
      <ion-icon slot="start" name="globe" color="light"></ion-icon>
      <ion-label>www.sdro.com</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="cool-item" button (click)="openLink('https://www.facebook.com/DentalandBraces/')">
      <ion-icon slot="start" name="logo-facebook" color="light"></ion-icon>
      <ion-label>DentalandBraces</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item>

    <!-- <ion-item class="cool-item" button (click)="openLink('https://www.instagram.com/arcelugodental')">
      <ion-icon slot="start" name="logo-instagram" color="light"></ion-icon>
      <ion-label>arcelugodental</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item> -->
  </ion-card>
</ion-content>