.post-button {
    position: absolute; 
    left: 32px; 
    bottom: 24px; 
    z-index: 10; 
    height: 24px;
    font-size: medium;
}

.create-post-button {
    position: absolute; 
    right: 24px; 
    bottom: 24px; 
    z-index: 10; 
    height: 24px;
}