<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #fff;">{{translate.products}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="cool-card" button (click)="openLink('https://emilyyromero.jeunesseglobal.com/')">
    <ion-item>
      <ion-icon slot="end" name="book" color="primary"></ion-icon>
      <ion-title style="margin: 12px; margin-left: 0px;">Jeunesse</ion-title>
    </ion-item>

    <ion-item lines="none">
      <ion-title>
        {{translate.jeunesse}}
      </ion-title>
    </ion-item>
    
    <img class="image" src="../assets/images/l2.jpg" style="height: 220px;">

    <ion-item lines="none" class="cool-item">
      <ion-icon slot="start" name="globe" color="light"></ion-icon>
      <ion-label>emilyyromero.jeunesseglobal.com</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let product of data.products; index as i">
        <ion-card class="cool-card" button (click) = "openImage(i, product.url)">
          <img class="image" [src]="product.image">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
