<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title>AGENDAR CITA</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">
  
  <!-- BOTON CONTACTO -->
  <!-- <ion-fab vertical="top" horizontal="end" edge slot="fixed" class="fab-button">
    <ion-fab-button>
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button *ngFor="let numero of data.numeros" (click)="data.phoneCall(numero)" color="primary">
        <ion-icon name="call"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button *ngFor="let red of data.redesSociales" (click)="data.openLink(red.link)" color="secondary">
        <ion-icon [name]="red.icon"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->

  <!-- SERVICIOS -->
  <ion-item lines="none" color="primary">
    <ion-icon slot="end" name="list" color="#fff"></ion-icon>
    <ion-title class="cool-title">Solicitudes</ion-title>
  </ion-item>

  <div class="cool-line"></div>

  <ion-card class="animate__animated animate__fadeInRight cool-card" *ngFor="let solicitud of solicitudes">
    <ion-item lines="none">
      <ion-title>{{solicitud.user}}</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <div style="padding: 0px; margin: 0px; column-count: 2;">
      <ion-item lines="none">
        <ion-icon slot="start" name="calendar" color="#fff" style="font-size: 16px;"></ion-icon>
        <ion-text>
          Dia: {{solicitud.day}}
        </ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-icon slot="start" name="alarm" color="#fff" style="font-size: 16px;"></ion-icon>
        <ion-text>
          Hora: {{solicitud.hour}}
        </ion-text>
      </ion-item>
    </div>

    <ion-item lines="none" *ngIf="solicitud.rf">
      <ion-icon slot="start" name="star" color="#fff" style="font-size: 16px;"></ion-icon>
      <ion-text>Horario Flexible</ion-text>
    </ion-item>

    <ion-item lines="none" *ngIf="solicitud.rf">
      <ion-range dualKnobs="true" min="-8" max="8" step="1" snaps="true" pin="true" value.lower="-1" disabled="true" color="secondary">
        <ion-text class="cool-text" slot="start">-{{solicitud.rfb}}</ion-text>
        <ion-text class="cool-text" slot="end">{{solicitud.rfa}}</ion-text>
      </ion-range>
    </ion-item>
  </ion-card>

</ion-content>
