<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Galeria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" *ngFor="let image of images">
      <ion-card class="cool-card" button (click) = "openImage(image)">
        <img class="image" [src]="image">
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
