
.gallery {
    margin: 4px;
    column-count: 2;
    column-gap: 4px;
}

.image-container {
    margin: 0px;
}

.image {
    object-fit: fill;
    height: 100%;
    width: 100%;
    background: var(--ion-color-primary);
}
.cool-card {
    --ion-background-color: var(--ion-color-secondary); 
    ion-grid{
  background-color: var(--ion-color-primary);
    }
}
.cool-content { 
    --background: #1a4379; 
}