<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #000;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #000;">{{t.t_Citas[t.currentTranslation]}}</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">

  <div *ngIf="userReady">
   <!-- CREAR SOLICITUD -->
   <br>
   <ion-item lines="none" color="primary">
     <div slot="end" *ngIf="!firebaseService.userData.admin">
       <ion-title class="cool-title">{{firebaseService.userData.requestNumber+' / '+appConfiguration.maxUserRequestNumber}}</ion-title>
     </div>
     <ion-title class="cool-title">{{t.txt_SolicitarCita[t.currentTranslation]}}</ion-title>
   </ion-item>

    <div class="cool-line"></div>

    <ion-grid class="grid">
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button class="cool-button add-appointment-button" shape="round" color="secondary" (click)="createAppointment()" [disabled]="!allowRequest()">
            {{t.b_CrearSolicitud[t.currentTranslation]}}
            <ion-icon slot="start" name="add" color="primary" style="font-size: 32px;"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <br>

    <!-- LISTA DE SOLICITUDES USUARIO-->
    <div *ngIf="!firebaseService.userData.admin">
      <ion-item lines="none" color="primary">
        <ion-icon slot="end" name="list" color="#fff"></ion-icon>
        <ion-title class="cool-title" style="color: #fff;">{{t.txt_SolicitudesEnviadas[t.currentTranslation]}}</ion-title>
      </ion-item>

      <div class="cool-line"></div>

      <ion-card class="animate__animated animate__fadeInRight cool-card sub-card" style="padding: 32px 0 32px 0;" *ngIf="solicitudes.length === 0">
        <div class="pin" style="top: -5px;"></div>

        <ion-item lines="none" color="primary">
          <ion-icon slot="start" name="information-circle" color="light"></ion-icon>
          <ion-label class="cool-text" color="light">{{t.txt_SolicitudesVacias[t.currentTranslation]}}</ion-label>
        </ion-item>

        <div class="pin" style="bottom: -5px;"></div>
      </ion-card>

      <ion-card class="cool-card"  *ngFor="let solicitud of solicitudes index as i">
        <ion-item lines="none">
          <ion-icon slot="start" name="radio-button-on" [color]="getRequestState(solicitud.state).color" style="font-size: 24px;"></ion-icon>
          <ion-text>{{getRequestState(solicitud.state).text}}</ion-text>
  
          <ion-buttons slot="end" style="padding: 12px;">
            <ion-button class="view-button" color="secondary" shape="round" size="small" (click)="updateAppointment(solicitud)">
              <ion-icon slot="icon-only" name="options"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
  
        <div class="cool-line"></div>
  
        <ion-card class="cool-card" style="border-style: none;">
          <ion-item lines="none">
            <ion-label>{{t.txt_Fecha[t.currentTranslation]}}</ion-label>
          </ion-item>
          
          <div class="cool-line"></div>
  
          <ion-item lines="none">
            <ion-icon slot="start" name="calendar" color="#fff"></ion-icon>
            <ion-datetime slot="end" class="cool-picker"
                [value]="solicitud.date.toISOString()"
                display-format="DDDD DD / MMMM / YYYY"
                [dayNames]="t.txt_Semana[t.currentTranslation]"
                [monthNames]="t.txt_Mes[t.currentTranslation]"
                [doneText]="t.alb_Seleccionar[t.currentTranslation]"
                [cancelText]="t.alb_Cancelar[t.currentTranslation]"
                readonly="true"></ion-datetime>
          </ion-item>
          <ion-item lines="none">
            <ion-icon slot="start" name="time" color="#fff"></ion-icon>
            <ion-datetime slot="end" class="cool-picker"
                [value]="solicitud.date.toISOString()"
                display-format="hh : mm a"
                done-text="Seleccionar"
                cancel-text="Cancelar"
                readonly="true"></ion-datetime>
          </ion-item>
        </ion-card>
  
        <!-- FLEXTIME -->
        <ion-card class="cool-card" style="border-style: none;" *ngIf="solicitud.flextime">
  
          <div class="cool-line"></div>
  
          <ion-item lines="none">
            <ion-label>{{t.txt_HorarioFlexible[t.currentTranslation]}}</ion-label>
          </ion-item>
  
          <div class="cool-line"></div>
  
          <ion-item lines="none">
            <ion-icon slot="start" name="swap-horizontal" color="#fff"></ion-icon>
            <ion-text >{{t.txt_RangoTiempo[t.currentTranslation]}}</ion-text>
          </ion-item>
  
          <ion-range class="range" dualKnobs="true" min="-8" max="8" step="1" snaps="true" pin="true" [value]="{lower: solicitud.ftBefore, upper: solicitud.ftAfter}" color="secondary">
            <ion-text class="cool-text" slot="start">{{solicitud.ftBefore}}</ion-text>
            <ion-text class="cool-text" slot="end">{{solicitud.ftAfter}}</ion-text>
          </ion-range>
  
          <ion-item lines="none">
            <ion-icon slot="start" name="chatbox" color="#fff"></ion-icon>
            <ion-text >{{t.txt_Servicio[t.currentTranslation]}}</ion-text>
          </ion-item>
  
          <ion-card class="cool-card" style="border-radius: 8px;">
            <ion-card-content>{{ solicitud.message }}</ion-card-content>
          </ion-card>
        </ion-card>
      </ion-card>
    </div>

    <!-- LISTA DE SOLICITUDES ADMIN-->
    <div *ngIf="firebaseService.userData.admin">

      <ion-item lines="none" color="primary">
        <ion-icon slot="end" name="list" color="#fff"></ion-icon>
        <ion-title class="cool-title" style="color: #fff;">{{t.txt_Solicitudes[t.currentTranslation]}}</ion-title>
      </ion-item>

      <ion-segment color="light" [(ngModel)]="selectedTab">
        <ion-segment-button class="cool-segment" value="pending"  style="color: #9592f9;">
          <ion-label>{{t.txt_Pendientes[t.currentTranslation]}}</ion-label>
        </ion-segment-button>
        <ion-segment-button class="cool-segment" value="accepted" style="color: #9592f9;">
          <ion-label>{{t.txt_Aceptadas[t.currentTranslation]}}</ion-label>
        </ion-segment-button>
        <ion-segment-button class="cool-segment" value="rejected" style="color: #9592f9;">
          <ion-label>{{t.txt_Rechazadas[t.currentTranslation]}}</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div class="cool-line"></div>
      
      <div *ngIf="selectedTab === 'pending'">
        <ion-card class="animate__animated animate__fadeInRight cool-card sub-card" style="padding: 16px 0 16px 0;" *ngIf="getRequestsByState(0).length === 0">
          <div class="pin" style="top: -5px;"></div>
  
          <ion-item lines="none" color="primary">
            <ion-icon slot="start" name="information-circle" color="light"></ion-icon>
            <ion-label class="cool-text" color="light">{{t.txt_PendientesVacias[t.currentTranslation]}}</ion-label>
          </ion-item>
  
          <div class="pin" style="bottom: -5px;"></div>
        </ion-card>
  
        <ion-card 
        class="animate__animated animate__fadeInRight"
        [class.cool-secondary-card]="isVIP(solicitud.user.rating)" 
        [class.cool-card]="!isVIP(solicitud.user.rating)"  
        *ngFor="let solicitud of getRequestsByState(0) index as i">
          <ion-item lines="none">
            <!-- <ion-icon slot="start" name="radio-button-on" [color]="getRequestState(solicitud.state).color" style="font-size: 24px;"></ion-icon> -->
            <div>
              <ion-text>{{solicitud.user.username}}</ion-text>
            </div>
            <div style="display: inline-block;">
              <ion-badge color="secondary" style="position: absolute; right: 32px; top: 12px; font-size: 16px;">
                {{solicitud.user.rating}}
                <ion-icon name="star" color="primary"></ion-icon>
              </ion-badge>
            </div>
          </ion-item>
    
          <ion-grid class="grid">
            <ion-row class="ion-align-items-center">
              <ion-col size="3" class="ion-text-center">
                <div (click)="acceptRequest(solicitud)">
                  <ion-icon class="view-button" name="checkmark-circle" [color]="isVIP(solicitud.user.rating) ? 'primary' : 'secondary'"></ion-icon>
                </div>
              </ion-col>
              <ion-col size="3" class="ion-text-center">
                <div (click)="rejectConfirm(solicitud)">
                  <ion-icon class="view-button" name="close-circle" [color]="isVIP(solicitud.user.rating) ? 'primary' : 'secondary'"></ion-icon>
                </div>
              </ion-col>
              <ion-col size="3" class="ion-text-center">
                <div (click)="getTempUser(solicitud.user.id)">
                  <ion-icon class="view-button" name="person-circle" [color]="isVIP(solicitud.user.rating) ? 'primary' : 'secondary'"></ion-icon>
                </div>
              </ion-col>
              <ion-col size="3" class="ion-text-center">
                <div (click)="updateAppointment(solicitud)">
                  <ion-icon class="view-button" name="options" [color]="isVIP(solicitud.user.rating) ? 'primary' : 'secondary'"></ion-icon>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
    
          <div class="cool-line"></div>
    
          <ion-card 
          [class.cool-secondary-card]="isVIP(solicitud.user.rating)" 
          [class.cool-card]="!isVIP(solicitud.user.rating)"
          style="border-style: none;">
            <ion-item lines="none">
              <ion-label>{{t.txt_Fecha[t.currentTranslation]}}</ion-label>
            </ion-item>
            
            <div class="cool-line"></div>
    
            <ion-item lines="none">
              <ion-icon slot="start" name="calendar" color="#fff"></ion-icon>
              <ion-datetime slot="end" class="cool-picker"
                  [value]="solicitud.date.toISOString()"
                  display-format="DDDD DD / MMMM / YYYY"
                  [dayNames]="t.txt_Semana[t.currentTranslation]"
                  [monthNames]="t.txt_Mes[t.currentTranslation]"
                  readonly="true"></ion-datetime>
            </ion-item>
            <ion-item lines="none">
              <ion-icon slot="start" name="time" color="#fff"></ion-icon>
              <ion-datetime slot="end" class="cool-picker"
                  [value]="solicitud.date.toISOString()"
                  display-format="hh : mm a"
                  readonly="true"></ion-datetime>
            </ion-item>
          </ion-card>
    
          <!-- FLEXTIME -->
          <ion-card class="cool-card" style="border-style: none;" *ngIf="solicitud.flextime">
    
            <div class="cool-line"></div>
    
            <ion-item lines="none">
              <ion-label>{{t.txt_HorarioFlexible[t.currentTranslation]}}</ion-label>
            </ion-item>
    
            <div class="cool-line"></div>
    
            <ion-item lines="none">
              <ion-icon slot="start" name="swap-horizontal" color="light"></ion-icon>
              <ion-text >{{t.txt_RangoTiempo[t.currentTranslation]}}</ion-text>
            </ion-item>
    
            <ion-range class="range" dualKnobs="true" min="-8" max="8" step="1" snaps="true" pin="true" [value]="{lower: solicitud.ftBefore, upper: solicitud.ftAfter}" color="secondary">
              <ion-text class="cool-text" slot="start">{{solicitud.ftBefore}}</ion-text>
              <ion-text class="cool-text" slot="end">{{solicitud.ftAfter}}</ion-text>
            </ion-range>
    
            <ion-item lines="none">
              <ion-icon slot="start" name="chatbox" color="#fff"></ion-icon>
              <ion-text >{{t.txt_Servicio[t.currentTranslation]}}</ion-text>
            </ion-item>
    
            <ion-card class="cool-card" style="border-radius: 8px;">
              <ion-card-content>{{ solicitud.message }}</ion-card-content>
            </ion-card>
          </ion-card>
        </ion-card>
      </div>

      <!-- SOLICITUDES ACEPTADAS -->
      <ion-card class="animate__animated animate__fadeInRight cool-card sub-card" style="padding: 16px 0 16px 0;" *ngIf="selectedTab === 'accepted'">
        <div class="pin" style="top: -5px;"></div>

        <div *ngFor="let solicitud of getRequestsByState(1) index as i">
          <ion-item lines="none" color="primary" style="margin-top: 8px; margin-bottom: 8px;">
            <div style="display: inline-block;">
              <ion-icon name="radio-button-on" [color]="getRequestState(solicitud.state).color" style="font-size: 24px;"></ion-icon>
            </div>
            <div style="display: inline-block;">
              <ion-text style="margin: 16px;">
                {{solicitud.user.username}}
              </ion-text>
              <ion-datetime class="cool-picker" style="font-weight: lighter; font-size: small;"
                [value]="solicitud.date.toISOString()"
                display-format="DDDD DD / MMMM"
                [dayNames]="t.txt_Semana[t.currentTranslation]"
                [monthNames]="t.txt_Mes[t.currentTranslation]"
                readonly="true"></ion-datetime>
            </div>
            
            
            <div style="display: inline-block;">
              <br>
              <div>
                <ion-badge color="secondary" style="position: absolute; right: 14px; top: 2px;">
                  {{solicitud.user.rating}}
                  <ion-icon name="star" color="primary"></ion-icon>
                </ion-badge>
              </div>
              <div style="position: absolute; right: 10px; bottom: 4px;">
                <div class="list-button" (click)="getTempUser(solicitud.user.id)">
                  <ion-icon name="person-circle" color="secondary" style="font-size: 24px;"></ion-icon>
                </div>
                <div class="list-button" (click)="updateAppointment(solicitud)">
                  <ion-icon name="ellipsis-horizontal-circle" color="secondary" style="font-size: 24px;"></ion-icon>
                </div>
              </div>
            </div>
          </ion-item>

          <div class="cool-line" *ngIf="i < getRequestsByState(1).length-1"></div>
        </div>

        <ion-item lines="none" color="primary" *ngIf="getRequestsByState(1).length === 0">
          <ion-icon slot="start" name="information-circle" color="light"></ion-icon>
          <ion-label class="cool-text" color="light">{{t.txt_AceptadasVacias[t.currentTranslation]}}</ion-label>
        </ion-item>

        <div class="pin" style="bottom: -5px;"></div>
      </ion-card>

      <!-- SOLICITUDES RECHAZADAS -->
      <ion-card class="animate__animated animate__fadeInRight cool-card sub-card" style="padding: 16px 0 16px 0;" *ngIf="selectedTab === 'rejected'">
        <div class="pin" style="top: -5px;"></div>

        <div *ngFor="let solicitud of getRequestsByState(2) index as i">
          <ion-item lines="none" color="primary" style="margin-top: 8px; margin-bottom: 8px;">
            <div style="display: inline-block;">
              <ion-icon name="radio-button-on" [color]="getRequestState(solicitud.state).color" style="font-size: 24px;"></ion-icon>
            </div>
            <div style="display: inline-block;">
              <ion-text style="margin: 16px;">
                {{solicitud.user.username}}
              </ion-text>
              <ion-datetime class="cool-picker" style="font-weight: lighter; font-size: small;"
                [value]="solicitud.date.toISOString()"
                display-format="DDDD DD / MMMM"
                [dayNames]="t.txt_Semana[t.currentTranslation]"
                [monthNames]="t.txt_Mes[t.currentTranslation]"
                readonly="true"></ion-datetime>
            </div>
            
            
            <div style="display: inline-block;">
              <br>
              <div>
                <ion-badge color="secondary" style="position: absolute; right: 14px; top: 2px;">
                  {{solicitud.user.rating}}
                  <ion-icon name="star" color="primary"></ion-icon>
                </ion-badge>
              </div>
              <div style="position: absolute; right: 10px; bottom: 4px;">
                <div class="list-button" (click)="getTempUser(solicitud.user.id)">
                  <ion-icon name="person-circle" color="secondary" style="font-size: 24px;"></ion-icon>
                </div>
                <div class="list-button" (click)="updateAppointment(solicitud)">
                  <ion-icon name="ellipsis-horizontal-circle" color="secondary" style="font-size: 24px;"></ion-icon>
                </div>
              </div>
            </div>
          </ion-item>

          <div class="cool-line" *ngIf="i < getRequestsByState(2).length-1"></div>
        </div>

        <ion-item lines="none" color="primary" *ngIf="getRequestsByState(2).length === 0">
          <ion-icon slot="start" name="information-circle" color="light"></ion-icon>
          <ion-label class="cool-text" color="light">{{t.txt_RechazadasVacias[t.currentTranslation]}}</ion-label>
        </ion-item>

        <div class="pin" style="bottom: -5px;"></div>
      </ion-card>

    </div>
  </div>

</ion-content>
