.range {
    margin: 0;
    padding: 24px;
    height: 32px;
}
.view-button {
    font-size: 32px;
}

.admin-button {
    width: 64px;
    height: 64px;
    font-size: 32px;
}

.add-appointment-button {
    height: 80px;
}

.list-button {
    display: inline-block;
    padding-left: 8px;
}
.cool-card {
    ion-title {
        margin-top: 16px;
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 20px;
        color: #fff
    }
}
