ion-toolbar {
    --background: #000;
    box-shadow: none !important;

    ion-title {
        padding: 50px 0 40px 0;
        font-weight: 900;
        color: #ffffff;
    }
}
.container-menu-image {
    margin: 0;
    background: transparent;
    width: 100%;
    box-shadow: none !important;
}

.menu-image {
    background: transparent;
    width: 100%;
    margin-top: 20px;
    height: 250px;
    object-fit: cover;
}

.menu-container {
    --background: linear-gradient(to bottom, #ffd700, #de8c2a, #a05034, #522728, #000000);
}
//cambio fix button 
.menu-buttons-container {
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-top: transparent;
    border-bottom: transparent;
    margin: 3%;
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
}
//Menu Buttons
.mb-active {
    height: 36px;
    width: 220px;
    --background: var(--ion-color-primary);
}

.mb-deactive {
    height: 36px;
    width: 200px;
}

.menu-button {
    //--background: var(--ion-color-primary);
    --border-color: white;
    --box-shadow: none !important;
    font-weight: 600;
    font-size: 14px;
    color: white;
}
//replazado tambien para arrelgar los botones
.account-button {
    --border-color: white;
    --box-shadow: none !important;
    font-size: 14px;
    color: white;
}

.h-lines {
    position: absolute;
    z-index: 10;
    top: 12px;
    left: 3%;
    width: 94%;
    height: 60px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-top: transparent;
    border-bottom: transparent;
}

//Shapes
.tilt {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.tilt svg {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    transform: rotateY(180deg);
}

.tilt .shape-fill {
    fill: #ffd700;
}
.back-circle {
    z-index: 10;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: var(--ion-color-primary);
    position: absolute;
}

.bc-m {
    width: 40px;
    height: 40px;
}

.footer {
    background-color: #000000;
}

.l-lines {
    position: absolute;
    z-index: 10;
    left: 3%;
    width: 2px;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-right: transparent;
    border-top: transparent;
    border-bottom: transparent;
}

.r-lines {
    position: absolute;
    z-index: 10;
    right: 3%;
    width: 2px;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-left: transparent;
    border-top: transparent;
    border-bottom: transparent;
}

.b-lines {
    position: absolute;
    z-index: 10;
    height: 2px;
    right: 3%;
    width: 94%;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
}
