.grid {
    padding: 10% 10% 0 10%;
}

.avatar {
    margin-left: auto; 
    margin-right: auto; 
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: var(--ion-color-secondary);
}
.cool-card {
    ion-title {
        margin-top: 16px;
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 20px;
        color: #fff
    }
}