<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #fff;">{{translate.gallery}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pattern-bg">
  <ion-grid style="padding: 0px;">
    <ion-row>
      <ion-col size="6" *ngFor="let image of data.images; index as i" style="padding: 0;">
        <ion-card class="animate__animated animate__fadeInUp cool-image" button (click) = "openImage(i)">
          <img class="image" [src]="image">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
