<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title>GALLERY</ion-title>
  </ion-toolbar>
  <div class="segment-container">
    <ion-segment mode="md" color="secondary" [(ngModel)]="selectedTab">
      <ion-segment-button value="home" class="login-off">
        <ion-icon color="secondary" name="home" style="font-size: 24px;"></ion-icon>
      </ion-segment-button>
      <ion-segment-button  value="gallery" class="login-off">
        <ion-icon color="secondary" name="images" style="font-size: 24px;"></ion-icon>
      </ion-segment-button>
      <ion-segment-button  value="products" class="login-off">
        <ion-icon color="secondary" name="basket" style="font-size: 24px;"></ion-icon>
      </ion-segment-button>
      <ion-segment-button  value="contact" class="login-off">
        <ion-icon color="secondary" name="person" style="font-size: 24px;"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content class="cool-content">

  <!-- BOTON CONTACTO -->
  <ion-fab vertical="top" horizontal="end" edge slot="fixed" class="fab-button">
    <ion-fab-button>
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button *ngFor="let phoneNumber of d.phoneNumbers" (click)="data.phoneCall(phoneNumber.number)" color="primary">
        <ion-icon name="call"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button *ngFor="let socialNetwork of d.socialNetworks" (click)="data.openLink(socialNetwork.link)" color="secondary">
        <ion-icon [name]="socialNetwork.icon"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- GALERIA -->
  <div  class="gallery">
    <div class="image" *ngFor="let image of images; index as i" button (click)="openImage(i)">
      <img [src]="image">
    </div>
  </div>
</ion-content>
