ion-toolbar {
    --background: #000
}

.footer { --background: var(--ion-color-primary); }

.container-menu-image {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background: transparent;
    width: 100%;
    box-shadow: none !important;
}

.menu-image {
    background: transparent;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

//Menu Buttons
.menu-container {
    --background: linear-gradient(to bottom, #f2d419, #ebbb1e, #e1a424, #d38e2a, #c3792e);
}

.mb-active {
    --background: var(--ion-color-secondary);
    height: 52px;
    width: 240px;
}

.mb-deactive {
    height: 42px;
    width: 220px;
}

.menu-button {
    margin: 0;
    margin-top: 8px;
    //--border-radius: 0;
    --box-shadow: none !important;
    font-weight: 900;
    font-size: 18px;
    --border-color: white;
    color: white;
}

.languaje-button {
    z-index: 10;
    position: absolute;
    bottom: 16px;
    left: 12px;
    color: #fff; 
    font-size: 18;
    --background: transparent;
    --box-shadow: none;
} 

//Shapes
.tilt {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.tilt svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 60px;
    transform: rotateY(180deg);
}

.tilt .shape-fill {
    fill: #f2d419;
}

.l-lines {
    position: absolute;
    z-index: 10;
    left: 3%;
    bottom: 3%;
    width: 1px;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-right: transparent;
    border-top: transparent;
    border-bottom: transparent;
}

.r-lines {
    position: absolute;
    z-index: 10;
    right: 3%;
    bottom: 3%;
    width: 1px;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-left: transparent;
    border-top: transparent;
    border-bottom: transparent;
}

.b-lines {
    position: absolute;
    z-index: 10;
    left: 3%;
    bottom: 3%;
    width: 94%;
    height: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
}