<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/contact">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Dr Zazueta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="gallery" src="./assets/images/call.jfif">
  <ion-button expand="full" class="call" color="success" (click)="phoneCall('6646853267')">
    <ion-icon name='call' color='light' style="font-size: 25px;"></ion-icon>
    <ion-label>Llamar</ion-label>
  </ion-button>
</ion-content>
