.post-button {
    position: absolute; 
    left: 32px; 
    bottom: 24px; 
    z-index: 10; 
    height: 24px;
    font-size: medium;
}

.create-post-button {
    position: absolute; 
    right: 24px; 
    bottom: 24px; 
    z-index: 10; 
    height: 24px;
}
.cool-content { 
    --background: var(--ion-color-secondary); 
}

.cool-card {
    ion-title {
        margin-top: 16px;
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 20px;
        color: #fff
    }
    
}