<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #fff;">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cool-card">
    <ion-item lines="none">
      <img src="../assets/images/Logo.png" style="margin-left: auto; margin-right: auto; height: 120px; width: 120px;">
    </ion-item>
    <!-- <ion-item>
      <ion-title style="text-align: center;">Clinica Dental Melgar</ion-title>
    </ion-item> -->
    <ion-item lines="none" class="cool-item">
      <!-- <ion-icon slot="start" name="pulse" style="color: #fff;"></ion-icon> -->
      <ion-title style="text-align: center;">Clinica Dental Melgar</ion-title>
    </ion-item>
  </ion-card>

  <ion-card class="cool-card">
    <ion-slides pager="true" [options]="slideOpts" autoplay="true" loop="true" class="slider">
      <ion-slide>
        <img src="../assets/images/1s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/2s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/3s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/4s.jpg">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="book" color="primary"></ion-icon>
      <ion-title>Dr. Gerardo Melgar</ion-title>
    </ion-item>

    <ion-item lines="none">
      <ion-card-content>
        Un Excelente Dentista con Especialidad en Endodoncia y un alta experiencia en Odontologia General. <br>
        Nos esforzamos por servirle con la mayor atencion y calidad en nuestro trabajo. <br>
        Su sonrisa y bienestar es nuestro mayor compromiso. <br>
        Haz tu cita lo antes posible para obtener la sonrisa ideal.
      </ion-card-content>
    </ion-item>
    <img class="image" src="../assets/images/l1.jpg" style="height: 140px;">
  </ion-card>

  <!-- <ion-card class="cool-card">
    <ion-item lines="none" class="cool-item">
      <ion-icon slot="end" name="settings" color="light"></ion-icon>
      <ion-title>Procedimientos:</ion-title>
    </ion-item>

    <ion-item>
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Limpieza</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Extracciones</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Blanqueamiento</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Rellenos Blancos</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Implantes Dentales</ion-label>
    </ion-item>
  </ion-card> -->
</ion-content>
