<ion-menu side="start" contentId="sidemenu"> 
  <ion-header no-border>
    <ion-toolbar>
      <ion-card class="container-menu-image" no-border>
        <img class="animate__animated animate__heartBeat menu-image" src="../assets/images/Logo.png">
      </ion-card>
      <div class="tilt">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
        </svg>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-container">
    <ion-grid style="margin-top: 20px;">
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center" *ngFor="let page of pages">
          <ion-menu-toggle auto-hide="false">
            <ion-button class="animate__animated menu-button" fill="outline" shape="round" lines="none"
            [routerLink]="page.url" 
            routerDirection="root"
            [class.mb-active]="selectedUrl === page.url"
            [class.mb-deactive]="selectedUrl != page.url"
            [class.animate__bounceIn]="selectedUrl === page.url"
            [class.animate__backInLeft]="selectedUrl != page.url">
              <ion-icon [name]="page.icon" slot="end" color="light"></ion-icon>
              <span class="ion-text-left" style="margin-right: auto;">{{page.title}}</span>
            </ion-button>
          </ion-menu-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button class="languaje-button" (click)="changeLanguage()">{{translate.language}}</ion-button>

    <div class="l-lines"></div>
    <div class="r-lines"></div>
    <div class="b-lines"></div>
  </ion-content>

</ion-menu>

<ion-router-outlet id="sidemenu"></ion-router-outlet>
