<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #000;"></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>{{data.t_Inicio[data.currentTranslation]}}</ion-title> -->
    <ion-title style="color: #000;">{{t.t_IniciarSesion[t.currentTranslation]}}</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">
  <!-- PORTADA -->
  <ion-card class="animate__animated animate__fadeInLeft cool-card" style="border-style: none; height: 25%;"> 
    <img src="../assets/images/Logo.png" class="logo">
  </ion-card>
  <div class="cool-line"></div>

  <ion-segment color="secondary" [(ngModel)]="selectedTab">
    <ion-segment-button class="login-off" value="login">
      <ion-label>{{t.txt_Acceder[t.currentTranslation]}}</ion-label>
    </ion-segment-button>
    <ion-segment-button class="login-off" value="register">
      <ion-label>{{t.txt_Registarse[t.currentTranslation]}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid class="grid">
    <form>
      <ion-row class="ion-align-items-center" *ngIf="selectedTab == 'login'">
        <ion-col size="12">
          <ion-item lines="none" color="primary" class="ion-text-center input" color="light">
            <ion-input type="email" name="email" [placeholder]="t.txt_Correo[t.currentTranslation]" [(ngModel)]="email"></ion-input>
            <ion-icon slot="end" name="mail" color="primary"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="none" color="primary" class="ion-text-center input" color="light">
            <ion-input [type]="showPassword ? 'text' : 'password'" name="password" [placeholder]="t.txt_Contrasena[t.currentTranslation]" [(ngModel)]="password"></ion-input>
            <ion-icon slot="end" name="eye" color="primary" (click)="togglePassword()"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center" *ngIf="selectedTab == 'register'">
        <ion-col size="12">
          <ion-item lines="none" color="primary" class="ion-text-center input" color="light">
            <ion-input type="email" name="email" [placeholder]="t.txt_Correo[t.currentTranslation]" [(ngModel)]="email"></ion-input>
            <ion-icon slot="end" name="mail" color="primary"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="none" color="primary" class="ion-text-center input" color="light">
            <ion-input [type]="showPassword ? 'text' : 'password'" name="password" [placeholder]="t.txt_Contrasena[t.currentTranslation]" [(ngModel)]="password"></ion-input>
            <ion-icon slot="end" name="eye" color="primary" (click)="togglePassword()"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="none" color="primary" class="ion-text-center input" color="light">
            <ion-input [type]="showPassword ? 'text' : 'password'" name="password" [placeholder]="t.txt_RContrasena[t.currentTranslation]"[(ngModel)]="rpassword"></ion-input>
            <ion-icon slot="end" name="key" color="primary"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center" *ngIf="selectedTab == 'login'">
        <ion-col size="12" class="ion-text-center" style="padding: 0 25% 0 25%;">
          <ion-button class="cool-button" shape="round" color="secondary" (click)="login()">{{t.b_Entrar[t.currentTranslation]}}</ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center" *ngIf="selectedTab == 'register'">
        <ion-col size="12" class="ion-text-center" style="padding: 0 25% 0 25%;">
          <ion-button class="cool-button" shape="round" color="secondary" (click)="register()">{{t.b_Registrarse[t.currentTranslation]}}</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

</ion-content>
