/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//Menu
.active-page {
    --background: #fff; --color: var(--ion-color-primary); height: 40%; border-width: 4px; border-style: solid; text-align: center; border-radius: 4px;
}

.deactive-page {
    text-align: left; height: 15%;
}

.menu-button {
    width: 100%; margin: 0px;
}

.menu-icon {
    font-size: 25px;
}

.menu-image {
    width: 100%; height: 100%;
}

.image {
    width: 100%; height: 120px; object-fit: cover;
}

.slider {
    --bullet-background: #383a3e; --bullet-background-active: var(--ion-color-primary); height: 250px;
}

.cool-card {
    --ion-background-color: #fff; border-width: 1px; border-color: var(--ion-color-primary);border-style: solid;
}
