<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #fff;">{{translate.gallery}}</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="pattern-bg">
   <!-- BOTON CONTACTO -->
   <ion-fab vertical="top" horizontal="end" edge slot="fixed" class="fab-button">
    <ion-fab-button color="secondary">
      <ion-icon name="grid"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button *ngFor="let numero of data.phones" (click)="data.phoneCall(numero.call)" color="secondary">
        <ion-icon name="call"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button *ngFor="let red of data.redesSociales" (click)="data.openLink(red.link)" color="secondary">
        <ion-icon [name]="red.icon"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <!-- <ion-grid style="padding: 0px;">
  
    <ion-row>
      <ion-col size="6" *ngFor="let image of data.images; index as i">
        <ion-card class="animate__animated animate__fadeInUp cool-image" button (click) = "openImage(i)">
          <img class="image" [src]="image">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <div  class="gallery">
    <div class="image" *ngFor="let image of data.images; index as i" button (click) = "openImage(i)">
      <img [src]="image">
    </div>
  </div>
</ion-content>
