<ion-card class="cool-card" style="margin: 0px; border-radius: 10px; border-width: 2px;">
  <ion-list>
    <ion-item>
      <ion-label (click)="phoneCall('6643248308')">664 324 8308</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="primary"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label (click)="phoneCall('6194077929')">619 407 7929</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="primary"></ion-icon>
    </ion-item>
  </ion-list>
</ion-card>

