<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{t.t_Contacto[t.currentTranslation]}}</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">

  <!-- TELEFONOS -->
  <ion-card class="animate__animated animate__fadeInLeft cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="call" color="#fff"></ion-icon>
      <ion-title>{{t.txt_Telefonos[t.currentTranslation]}}</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <!-- NUMEROS -->
        <ion-col class="ion-text-center" size="12" *ngFor="let numero of d.phoneNumbers">
          <ion-button class="cool-button" shape="round" fill="outline" lines="none" (click)="data.phoneCall(numero.number)">
            <div class="cool-text">
              <ion-text>{{numero.number}}</ion-text>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- DIRECCION -->
  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item>
      <ion-icon slot="end" name="locate" color="#fff"></ion-icon>
      <ion-title>{{t.txt_Direccion[t.currentTranslation]}}</ion-title>
    </ion-item>
    <div class="cool-line"></div>
    <ion-item lines="none">
      <ion-card-content style="color: #fff;">
        {{d.address}}
      </ion-card-content>
    </ion-item>
  </ion-card>

   <!-- MAPA -->
   <ion-card  class="animate__animated animate__fadeInLeft cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="map" color="#fff"></ion-icon>
      <ion-title>Location</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center" size="12">
          <ion-button class="cool-button" shape="round" fill="outline" lines="none" (click)="openRoute()">
            <!-- <ion-icon slot="start" [name]="socialNetwork.icon" color="#fff"></ion-icon> -->
            <div class="cool-text">
              <ion-text>Start Routing</ion-text>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card >

  <!-- REDES SOCIALES -->
  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="list" color="#fff"></ion-icon>
      <ion-title>{{t.txt_RedesSociales[t.currentTranslation]}}</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-item lines="none">
      <ion-label >dr.dominguezgonzalez@hotmail.com</ion-label>
      <ion-icon slot="start" name="mail" color="ligth"></ion-icon> 
    </ion-item>

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center" size="12" *ngFor="let red of d.socialNetworks">
          <ion-button class="cool-button" shape="round" fill="outline" lines="none" (click)="data.openLink(red.link)">
            <ion-icon slot="start" [name]="red.icon" color="#fff"></ion-icon>
            <div class="cool-text">
              <ion-text>{{red.text}}</ion-text>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
