<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeView()">
        <ion-icon slot="icon-only" name='close' color='light' style="font-size: 25px;"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-title>BARBER INFORMATION</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">

<!-- PORTADA -->
<ion-card class="cool-card" style="border-style: none;">
  <img [src]="barber.image" class="full-image">
</ion-card>
<div class="cool-line"></div>

<!-- DESCRIPCION -->
<ion-card class="cool-card">
  <ion-item>
    <ion-icon slot="end" name="book" color="#fff"></ion-icon>
    <ion-title>{{barber.name}}</ion-title>
  </ion-item>

  <div class="cool-line"></div>

  <ion-item lines="none">
    <ion-card-content [innerHtml]="barber.description">
      {{barber.description}}
    </ion-card-content>
  </ion-item>
</ion-card>

 <!-- REDES SOCIALES -->
 <ion-card class="cool-card" *ngIf="barber.socialNetworks.length > 0">

  <ion-item lines="none">
    <ion-icon slot="end" name="list" color="#fff"></ion-icon>
    <ion-title>Social Networks</ion-title>
  </ion-item>

  <div class="cool-line"></div>

  <!-- AQUI AGREGAR ITEM DE CORREO -->

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center" size="12" *ngFor="let socialNetwork of barber.socialNetworks">
        <ion-button class="cool-button" shape="round" fill="outline" lines="none" (click)="data.openLink(socialNetwork.link)">
          <ion-icon slot="start" [name]="socialNetwork.icon" color="#fff"></ion-icon>
          <div class="cool-text">
            <ion-text>{{socialNetwork.text}}</ion-text>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>



</ion-content>
