<ion-card class="cool-card" style="margin: 0px; border-radius: 10px; border-width: 2px;">
  <ion-list>
    <ion-item>
      <ion-label (click)="phoneCall('6646880420')">664 688 0420</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="primary"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label (click)="phoneCall('6197205087')">619 720 5087</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="primary"></ion-icon>
    </ion-item>
  </ion-list>
</ion-card>

