<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeCall()">
        <ion-icon slot="icon-only" name='arrow-back' color='light' style="font-size: 25px;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center; color: #fff;">
      {{translate.appTitle}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content pattern-bg">
  <img class="gallery" src="assets/images/call.jpg" style="width: 100%; height: 80%;">
  <ion-button expand="full" color="primary" (click)="phoneCall()" style="margin: 0px; height: 20%; --box-shadow: none;">
    <!-- <ion-icon slot="end" name='call' color='light' style="font-size: 25px;"></ion-icon> -->
    <ion-label style="color: #fff;">
      {{phoneNumber}} <br><br>
      {{translate.call}}
    </ion-label>
  </ion-button>
</ion-content>
