<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dental Zazueta</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card class="cool-card" button routerLink="/front">
    <ion-item class="cool-item" lines="none">
      <ion-title>Inicio</ion-title>
      <ion-icon name='home' slot="end" color='light'></ion-icon>
    </ion-item>
    <img class="image" src="./assets/images/m1.jfif">
    <ion-card-content>
      Descubre que es Dental Zazueta y que tiene para ofrecer a sus clientes.
    </ion-card-content>
  </ion-card>

  <ion-card class="cool-card" button routerLink="/gallery">
    <ion-item class="cool-item" lines="none">
      <ion-title>Galeria</ion-title>
      <ion-icon name='images' slot="end" color='light'></ion-icon>
    </ion-item>
    <img class="image" src="./assets/images/m2.jfif">
    <ion-card-content>
      Hecha un vistazo a nuestra galeria.
    </ion-card-content>
  </ion-card>

  <ion-card class="cool-card" button routerLink="/contact">
    <ion-item class="cool-item" lines="none">
      <ion-title>Contacto</ion-title>
      <ion-icon name='contact' slot="end" color='light'></ion-icon>
    </ion-item>
    <img class="image" src="./assets/images/m3.jfif">
    <ion-card-content>
      Visita nuestras redes sociales.
    </ion-card-content>
  </ion-card>
</ion-content>
