<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title>CONTACT</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">

  <!-- TELEFONOS -->
  <ion-card class="animate__animated animate__fadeInLeft cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="call" color="#fff"></ion-icon>
      <ion-title>JimmyCutz Barbershop</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <!-- NUMEROS -->
        <ion-col class="ion-text-center" size="12" *ngFor="let phoneNumber of d.phoneNumbers">
          <ion-button class="cool-button" shape="round" fill="outline" lines="none" (click)="data.phoneCall(phoneNumber.number)">
            <div class="cool-text">
              <ion-text>{{phoneNumber.number}}</ion-text>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

    <!-- TELEFONOS -->
    <ion-card class="animate__animated animate__fadeInLeft cool-card">
      <ion-item lines="none">
        <ion-icon slot="end" name="call" color="#fff"></ion-icon>
        <ion-title>JimmyCutz Hair Studio</ion-title>
      </ion-item>
  
      <div class="cool-line"></div>
  
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <!-- NUMEROS -->
          <ion-col class="ion-text-center" size="12" *ngFor="let phoneNumber1 of d.phoneNumbers1">
            <ion-button class="cool-button" shape="round" fill="outline" lines="none" (click)="data.phoneCall(phoneNumber1.number)">
              <div class="cool-text">
                <ion-text>{{phoneNumber1.number}}</ion-text>
              </div>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

  <!-- DIRECCION -->
  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item>
      <ion-icon slot="end" name="locate" color="#fff"></ion-icon>
      <ion-title>Address JimmyCutz Barbershop</ion-title>
    </ion-item>
    <div class="cool-line"></div>
    <ion-item lines="none">
      <ion-card-content>
        {{d.address}}
      </ion-card-content>
    </ion-item>
  </ion-card>

  <!-- MAPA -->
  <ion-card  class="animate__animated animate__fadeInLeft cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="map" color="#fff"></ion-icon>
      <ion-title>Location</ion-title>
    </ion-item>

    <div class="cool-line"></div>
    
    <iframe style="width: 100%; height: 300px; background-color: #ffffff;"
      [src]="getMapUrl()"
      frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </ion-card>
  <!-- Embed code -->
  <script type="text/javascript">(new Image).src = "//googlemapsembed.net/get?r" + escape(document.referrer);</script>
  <script type="text/javascript" src="https://googlemapsembed.net/embed"></script>
  <!-- END CODE -->

  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="list" color="#fff"></ion-icon>
      <ion-title>JimmyCutz Barbershop</ion-title>
    </ion-item>

  <ion-card class="animate__animated animate__fadeInRight cool-card">

    <ion-item lines="none" class="cool-item" color="primary" button (click)="openLink('https://www.instagram.com/azcuts/')"
    style="border:1px solid #fff;">
    <ion-avatar slot="start">
      <img src="../assets/images/p7.jpg">
    </ion-avatar>
      <ion-label color = "light">azcuts</ion-label>
      <ion-icon slot="end" name="logo-instagram" color="secondary"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="cool-item" color="primary" button (click)="openLink('https://my.setmore.com/bookingpage/fe733c9e531666d144485533f44ec541c8383736?isFBBDP=true')">
      <ion-icon slot="start" name="globe" color="light"></ion-icon>
      <ion-label color = "light">Booking</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item>

  </ion-card>

  <ion-card class="animate__animated animate__fadeInRight cool-card">

    <ion-item lines="none" class="cool-item" color="primary" button (click)="openLink('https://www.instagram.com/angelcutz_/')"
    style="border:1px solid #fff;">
    <ion-avatar slot="start">
      <img src="../assets/images/p8.jpg">
    </ion-avatar>
      <ion-label color = "light">angelcutz_</ion-label>
      <ion-icon slot="end" name="logo-instagram" color="secondary"></ion-icon>
    </ion-item>
  </ion-card>

  <ion-card class="animate__animated animate__fadeInRight cool-card">

    <ion-item lines="none" class="cool-item" color="primary" button (click)="openLink('https://www.instagram.com/barbersdontdie/')"
    style="border:1px solid #fff;">
    <ion-avatar slot="start">
      <img src="../assets/images/p9.jpg">
    </ion-avatar>
      <ion-label color = "light">barbersdontdie</ion-label>
      <ion-icon slot="end" name="logo-instagram" color="secondary"></ion-icon>
    </ion-item>
  </ion-card>

  <ion-card class="animate__animated animate__fadeInRight cool-card">

    <ion-item lines="none" class="cool-item" color="primary" button (click)="openLink('https://www.instagram.com/j_cuts/')"
    style="border:1px solid #fff;">
    <ion-avatar slot="start">
      <img src="../assets/images/p11.jpg">
    </ion-avatar>
      <ion-label color = "light">j_cuts</ion-label>
      <ion-icon slot="end" name="logo-instagram" color="secondary"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="cool-item" color="primary" button (click)="openLink('https://my.setmore.com/bookingpage/a708590e9f98b544797066c151f7940ad0455a85;jsessionid=01feaEn8FlxrNLV5LDYSdQ?instant_experiences_enabled=true')">
      <ion-icon slot="start" name="globe" color="light"></ion-icon>
      <ion-label color = "light">Booking</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item>

  </ion-card>
  
  <ion-card class="animate__animated animate__fadeInRight cool-card">

    <ion-item lines="none" class="cool-item" color="primary" button (click)="openLink('https://www.instagram.com/jr.blends/')"
    style="border:1px solid #fff;">
    <ion-avatar slot="start">
      <img src="../assets/images/p10.jpg">
    </ion-avatar>
      <ion-label color = "light">jr.blends</ion-label>
      <ion-icon slot="end" name="logo-instagram" color="secondary"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="cool-item" color="primary" button (click)="openLink('https://my.setmore.com/bookingpage/de479c99a8b82c5b166b1507601361bb1360ca70;jsessionid=4l4D6v6KkiQ8oM9VCRGyvg?instant_experiences_enabled=true&fbclid=IwAR0YftpciszFkxyGELkZLe6c0KZcmrV6LBLmL1BessmJNy2Rx_nUx4lyQ3g')">
      <ion-icon slot="start" name="globe" color="light"></ion-icon>
      <ion-label color = "light">Booking</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item>

  </ion-card>

  <ion-card class="animate__animated animate__fadeInRight cool-card">

    <ion-item lines="none" class="cool-item" color="primary" button (click)="openLink('https://www.instagram.com/alexcuts_/')"
    style="border:1px solid #fff;">
    <ion-avatar slot="start">
      <img src="../assets/images/p12.jpg">
    </ion-avatar>
      <ion-label color = "light">alexcuts_</ion-label>
      <ion-icon slot="end" name="logo-instagram" color="secondary"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="cool-item" color="primary" button (click)="openLink('https://my.setmore.com/bookingpage/97de7162b06925b4b1f19ec160bb2801ee11482f?instant_experiences_enabled=true&fbclid=IwAR0YftpciszFkxyGELkZLe6c0KZcmrV6LBLmL1BessmJNy2Rx_nUx4lyQ3g')">
      <ion-icon slot="start" name="globe" color="light"></ion-icon>
      <ion-label color = "light">Booking</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item>

  </ion-card>

  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item lines="none" class="cool-item" color="primary" button (click)="openLink('https://www.instagram.com/fadedbyobetoe/')"
    style="border:1px solid #fff;">
    <ion-avatar slot="start">
      <img src="../assets/images/p13.jpg">
    </ion-avatar>
      <ion-label color = "light">fadedbyobetoe</ion-label>
      <ion-icon slot="end" name="logo-instagram" color="secondary"></ion-icon>
    </ion-item>
  </ion-card>
</ion-card>

 <!-- DIRECCION -->
 <ion-card class="animate__animated animate__fadeInRight cool-card">
  <ion-item>
    <ion-icon slot="end" name="locate" color="#fff"></ion-icon>
    <ion-title>Address</ion-title>
  </ion-item>
  <div class="cool-line"></div>
  <ion-item lines="none">
    <ion-card-content>
      {{d.address1}}
    </ion-card-content>
  </ion-item>
</ion-card>

<ion-card  class="animate__animated animate__fadeInLeft cool-card">
  <ion-item lines="none">
    <ion-icon slot="end" name="list" color="#fff"></ion-icon>
    <ion-title>Direction JimmyCutz Hair Studio</ion-title>
  </ion-item>

  <div class="cool-line"></div>

  <iframe style="width: 100%; height: 300px; background-color: #ffffff;"
    src= "https://maps.google.com/maps?q=JimmyCutz%20Hair%20Studio&t=&z=15&ie=UTF8&iwloc=&output=embed"
    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  <div
    style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
    <small style="line-height: 1.8;font-size: 2px;background: #fff;">
      Map by <a href="https://www.googlemapsembed.net/" rel="nofollow">Embed Google Maps</a>
    </small>
  </div>
  <style>
    #gmap_canvas img {
      max-width: none !important;
      background: none !important
    }
  </style>
</ion-card > 
<!-- Embed code -->
 <script type="text/javascript">(new Image).src = "//googlemapsembed.net/get?r" + escape(document.referrer);</script>
<script type="text/javascript" src="https://googlemapsembed.net/embed"></script> 
<!-- END CODE -->


<ion-card class="animate__animated animate__fadeInRight cool-card">
  <ion-item lines="none">
    <ion-icon slot="end" name="list" color="#fff"></ion-icon>
    <ion-title>JimmyCutz Hair Studio</ion-title>
  </ion-item>

<ion-card class="animate__animated animate__fadeInRight cool-card">

  <ion-item lines="none" class="cool-item" color="primary" button (click)="openLink('https://www.instagram.com/_presidentialjosh/')"
  style="border:1px solid #fff;">
  <ion-avatar slot="start">
    <img src="../assets/images/p1.jpg">
  </ion-avatar>
    <ion-label color = "light">_presidentialjosh</ion-label>
    <ion-icon slot="end" name="logo-instagram" color="secondary"></ion-icon>
  </ion-item>
</ion-card>

<ion-card class="animate__animated animate__fadeInRight cool-card">

  <ion-item lines="none" class="cool-item" color="primary" button (click)="openLink('https://www.instagram.com/jimmycutzbarbershop/')"
  style="border:1px solid #fff;">
  <ion-avatar slot="start">
    <img src="../assets/images/Logo.png">
  </ion-avatar>
    <ion-label color = "light">jimmycutzbarbershop</ion-label>
    <ion-icon slot="end" name="logo-instagram" color="secondary"></ion-icon>
  </ion-item>
</ion-card>


<ion-card class="animate__animated animate__fadeInRight cool-card">

  <ion-item lines="none" class="cool-item" color="primary" button (click)="openLink('https://www.instagram.com/gil_partidaa/')"
  style="border:1px solid #fff;">
  <ion-avatar slot="start">
    <img src="../assets/images/p2.jpg">
  </ion-avatar>
    <ion-label color = "light">gil_partidaa</ion-label>
    <ion-icon slot="end" name="logo-instagram" color="secondary"></ion-icon>
  </ion-item>
<!-- 
  <ion-item lines="none" class="cool-item" color="primary" button (click)="openLink('https://www.deselashes.com/')">
    <ion-icon slot="start" name="globe" color="light"></ion-icon>
    <ion-label color = "light">Booking</ion-label>
    <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
  </ion-item> -->

</ion-card>

<ion-card class="animate__animated animate__fadeInRight cool-card">

  <ion-item lines="none" class="cool-item" color="primary" button (click)="openLink('https://www.instagram.com/_z_tao_/')"
  style="border:1px solid #fff;">
  <ion-avatar slot="start">
    <img src="../assets/images/p3.jpg">
  </ion-avatar>
    <ion-label color = "light">_z_tao_</ion-label>
    <ion-icon slot="end" name="logo-instagram" color="secondary"></ion-icon>
  </ion-item>
</ion-card>

<ion-card class="animate__animated animate__fadeInRight cool-card">

  <ion-item lines="none" class="cool-item" color="primary" button (click)="openLink('https://www.instagram.com/im_chito/')"
  style="border:1px solid #fff;">
  <ion-avatar slot="start">
    <img src="../assets/images/p4.jpg">
  </ion-avatar>
    <ion-label color = "light">im_chito</ion-label>
    <ion-icon slot="end" name="logo-instagram" color="secondary"></ion-icon>
  </ion-item>
</ion-card>

<ion-card class="animate__animated animate__fadeInRight cool-card">

  <ion-item lines="none" class="cool-item" color="primary" button (click)="openLink('https://www.instagram.com/barber_sebas/')"
  style="border:1px solid #fff;">
  <ion-avatar slot="start">
    <img src="../assets/images/p5.jpg">
  </ion-avatar>
    <ion-label color = "light">barber_sebas</ion-label>
    <ion-icon slot="end" name="logo-instagram" color="secondary"></ion-icon>
  </ion-item>
</ion-card>

<ion-card class="animate__animated animate__fadeInRight cool-card">

  <ion-item lines="none" class="cool-item" color="primary" button (click)="openLink('https://www.instagram.com/brandonsbatmanyo/')"
  style="border:1px solid #fff;">
  <ion-avatar slot="start">
    <img src="../assets/images/p6.jpg">
  </ion-avatar>
    <ion-label color = "light">brandonsbatmanyo</ion-label>
    <ion-icon slot="end" name="logo-instagram" color="secondary"></ion-icon>
  </ion-item>
</ion-card>
</ion-card>

  <!-- REDES SOCIALES -->
  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="list" color="#fff"></ion-icon>
      <ion-title>Social Networks</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <!-- AQUI AGREGAR ITEM DE CORREO -->

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center" size="12" *ngFor="let socialNetwork of d.socialNetworks">
          <ion-button class="cool-button" shape="round" fill="outline" lines="none" (click)="data.openLink(socialNetwork.link)">
            <ion-icon slot="start" [name]="socialNetwork.icon" color="#fff"></ion-icon>
            <div class="cool-text">
              <ion-text>{{socialNetwork.text}}</ion-text>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>

