<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #fff;">HOME</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="cool-content" [scrollEvents]="true" (ionScroll)="didScroll($event)">

  <!-- <ion-fab vertical="top" horizontal="end" edge slot="fixed" class="fab-button">
    <ion-fab-button>
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button *ngFor="let numero of d.phoneNumbers" (click)="data.phoneCall(numero.number)" color="secondary">
        <ion-icon name="call"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button *ngFor="let red of d.socialNetworks" (click)="data.openLink(red.link)" color="secondary">
        <ion-icon [name]="red.icon"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->

  <!-- PORTADA -->
  <!-- <ion-card class="animate__animated animate__fadeInLeft cool-card" style="border-style: none;">
      <img src="../assets/images/Logo.png" class="full-image" style="object-fit: cover; height: 240px;">
  </ion-card>  -->
  <div *ngIf="selectedTab==='home'">
  <div class="cool-line"></div> >    

  <ion-card class="animate__animated animate__fadeInLeft cool-card" *ngFor="let video1 of videos1">
    <video #player playsinline preload="auto" style="width: 100%; background-color: #1a1a1a;" controls autoplay>
      <source [src]="video1" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
  </ion-card>

  <!-- BLOG -->
  <ion-card class="cool-card sub-card" *ngIf="!postsReady">
    <div class="pin" style="top: -5px;"></div>
    <ion-item>
      <ion-progress-bar type="indeterminate" color="secondary"></ion-progress-bar>
    </ion-item>
    <div class="pin" style="bottom: -5px;"></div>
  </ion-card>

  <div *ngIf="postsReady">
    <ion-card class="animate__animated animate__fadeInUp cool-secondary-card">
      <ion-slides pager="true" [options]="slideSales" autoplay="true">
        <ion-slide *ngFor="let post of posts" style="height: 100%;">
          <div class="post-button" *ngIf="showPostEdit()" (click)="viewPost(post)">
            <ion-icon color="primary" name="ellipsis-horizontal" style="font-size: 24px;"></ion-icon>
          </div>
          <div style="margin-bottom: 48px;">
            <ion-item>
              <ion-text class="cool-secondary-title">{{post.title}}</ion-text>
              <ion-badge *ngIf="post.sale !==''" slot="end" color="danger" style="font-size: 18px;">{{post.sale}}</ion-badge>
            </ion-item>
        
            <ion-item lines="none">
              <ion-card-content [innerHtml]="post.content">
                <!-- {{post.content}} -->
              </ion-card-content>
            </ion-item>
          </div>
        </ion-slide>
      </ion-slides>
      <div class="create-post-button" *ngIf="showPostCreate()" (click)="createPost()">
        <ion-icon color="primary" name="add" style="font-size: 32px;"></ion-icon>
      </div>
    </ion-card>

    <div *ngIf="showPostCreate() && posts.length === 0">
      <ion-grid class="grid">
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button class="cool-button" shape="round" color="secondary" (click)="createPost()">
              Create Post
              <ion-icon slot="end" name="share" color="primary"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <!-- <div style="display: flex; justify-content: center;">
    <ion-button class="cool-button" shape="round" color="secondary" (click)="data.openLink('https://mcfades.com/shop-products')">
        Visit Store
        <ion-icon slot="end" name="cart" color="primary"></ion-icon>
      </ion-button>
    </div> -->
    
    <div class="segment-container">
      <ion-segment mode="md" color="secondary" [(ngModel)]="selectedTab">
        <ion-segment-button value="home" class="login-off">
          <ion-icon color="secondary" name="home" style="font-size: 24px;"></ion-icon>
        </ion-segment-button>
        <ion-segment-button  value="gallery" class="login-off">
          <ion-icon color="secondary" name="images" style="font-size: 24px;"></ion-icon>
        </ion-segment-button>
        <ion-segment-button  value="products" class="login-off">
          <ion-icon color="secondary" name="basket" style="font-size: 24px;"></ion-icon>
        </ion-segment-button>
        <ion-segment-button  value="contact" class="login-off">
          <ion-icon color="secondary" name="person" style="font-size: 24px;"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </div>

  <!-- DESCRIPCION -->
  <ion-card class="animate__animated animate__fadeInLeft cool-card">
    <ion-item color="tertiary">
      <ion-icon slot="end" name="book" color="light"></ion-icon>
      <ion-title>{{d.appTitle}}</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-item lines="none">
      <ion-card-content [innerHtml]="d.homeDescription">
        {{d.homeDescription}}
      </ion-card-content>
    </ion-item>
  </ion-card>

  <!-- SLIDER -->
  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-slides pager="true" [options]="slideOpts" autoplay="true" loop="true" class="slider">
      <ion-slide *ngFor="let image of slider">
        <img [src]="image" style="width: 100%; height: 100%; object-fit: fill;">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <!-- SERVICIOS -->
  <!-- <ion-card class="cool-card">
    <ion-item lines="none" color="tertiary">
      <ion-icon slot="end" name="list" color="secondary"></ion-icon>
      <ion-title>Services</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-grid>
      <ion-row *ngFor="let service of d.homeServices">
        <ion-col>
          <div class="ion-text-start cool-text">
            <ion-text>{{service.name}}</ion-text>
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-end cool-text">
            <ion-text>{{service.price}}</ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> -->

  <!-- HORARIO -->
  <ion-card class="cool-card">
    <ion-item lines="none" color="tertiary">
      <ion-icon slot="end" name="calendar" color="light"></ion-icon>
      <ion-title>Schedule</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-grid>
      <ion-row *ngFor="let schedule of schedules index as i">
        <ion-col>
          <div class="ion-text-start cool-text">
            <ion-text>{{schedule.day}}</ion-text>
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-end cool-text">
            <ion-text>{{schedule.hour}}</ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- VIDEO -->
  <ion-card class="animate__animated animate__fadeInLeft cool-card" *ngFor="let video of videos">

    <video #player playsinline preload="auto" style="width: 100%; background-color: #1a1a1a;" controls>
      <source [src]="video" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
  </ion-card>
  <div style="margin-bottom: 96px;"></div>
</div>


   <!-- MUSICA -->
   <!-- <ion-card *ngFor="let audio of audios">
   <audio controls>
    <source [src]="audios" type="audio/mpeg">
  </audio>
</ion-card>    -->


  <!-- FLYER -->
  <!-- <ion-card class="cool-card">
    <img src="../assets/images/f.jpg">
  </ion-card> -->

  <div *ngIf="selectedTab==='gallery'">
    <div class="segment-container">
      <ion-segment mode="md" color="secondary" [(ngModel)]="selectedTab">
        <ion-segment-button value="home" class="login-off">
          <ion-icon color="secondary" name="home" style="font-size: 24px;"></ion-icon>
        </ion-segment-button>
        <ion-segment-button  value="gallery" class="login-off">
          <ion-icon color="secondary" name="images" style="font-size: 24px;"></ion-icon>
        </ion-segment-button>
        <ion-segment-button  value="products" class="login-off">
          <ion-icon color="secondary" name="basket" style="font-size: 24px;"></ion-icon>
        </ion-segment-button>
        <ion-segment-button  value="contact" class="login-off">
          <ion-icon color="secondary" name="person" style="font-size: 24px;"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </div>
    <!-- GALERIA -->
    <div  class="gallery">
      <div class="image" *ngFor="let image of images; index as i" button (click)="openImage(i)">
        <img [src]="image">
      </div>
    </div>
  </div>

    <div *ngIf="selectedTab==='products'">
      <div class="segment-container">
        <ion-segment mode="md" color="secondary" [(ngModel)]="selectedTab">
          <ion-segment-button value="home" class="login-off">
            <ion-icon color="secondary" name="home" style="font-size: 24px;"></ion-icon>
          </ion-segment-button>
          <ion-segment-button  value="gallery" class="login-off">
            <ion-icon color="secondary" name="images" style="font-size: 24px;"></ion-icon>
          </ion-segment-button>
          <ion-segment-button  value="products" class="login-off">
            <ion-icon color="secondary" name="basket" style="font-size: 24px;"></ion-icon>
          </ion-segment-button>
          <ion-segment-button  value="contact" class="login-off">
            <ion-icon color="secondary" name="person" style="font-size: 24px;"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </div>
    <div  class="gallery">
      <div class="image" *ngFor="let image1 of images1; index as i" button (click)="openImage1(i)">
        <img [src]="image1">
      </div>
    </div>
  </div>
    <div *ngIf="selectedTab==='contact'">
      <div class="segment-container">
        <ion-segment mode="md" color="secondary" [(ngModel)]="selectedTab">
          <ion-segment-button value="home" class="login-off">
            <ion-icon color="secondary" name="home" style="font-size: 24px;"></ion-icon>
          </ion-segment-button>
          <ion-segment-button  value="gallery" class="login-off">
            <ion-icon color="secondary" name="images" style="font-size: 24px;"></ion-icon>
          </ion-segment-button>
          <ion-segment-button  value="products" class="login-off">
            <ion-icon color="secondary" name="basket" style="font-size: 24px;"></ion-icon>
          </ion-segment-button>
          <ion-segment-button  value="contact" class="login-off">
            <ion-icon color="secondary" name="person" style="font-size: 24px;"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </div>
    <!-- TELEFONOS -->
  <ion-card class="animate__animated animate__fadeInLeft cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="call" color="#fff"></ion-icon>
      <ion-title>Phones</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <!-- NUMEROS -->
        <ion-col class="ion-text-center" size="12" *ngFor="let phoneNumber of d.phoneNumbers">
          <ion-button class="cool-button" shape="round" fill="outline" lines="none" (click)="data.phoneCall(phoneNumber.number)">
            <div class="cool-text">
              <ion-text>{{phoneNumber.number}}</ion-text>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- DIRECCION -->
  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="locate" color="#fff"></ion-icon>
      <ion-title>Address</ion-title>
    </ion-item>
    <div class="cool-line"></div>
    <ion-item lines="none">
      <ion-card-content>
        {{d.address}}
      </ion-card-content>
    </ion-item>
  </ion-card>

<!-- MAPA -->
  <ion-card  class="animate__animated animate__fadeInLeft cool-card">
    <ion-item lines="none" color="secondary">
      <ion-icon slot="end" name="map" color="light"></ion-icon>
      <ion-title>Location</ion-title>
    </ion-item>

    <div class="cool-line"></div>
    
    <iframe style="width: 100%; height: 300px; background-color: #ffffff;"
      [src]="getMapUrl()"
      frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </ion-card >
  <!-- Embed code -->
  <script type="text/javascript">(new Image).src = "//googlemapsembed.net/get?r" + escape(document.referrer);</script>
  <script type="text/javascript" src="https://googlemapsembed.net/embed"></script>
  <!-- END CODE -->

  <!-- REDES SOCIALES -->
  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="list" color="#fff"></ion-icon>
      <ion-title>Social Networks</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <!-- AQUI AGREGAR ITEM DE CORREO -->

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center" size="12" *ngFor="let socialNetwork of d.socialNetworks">
          <ion-button class="cool-button" shape="round" fill="outline" lines="none" (click)="data.openLink(socialNetwork.link)">
            <ion-icon slot="start" [name]="socialNetwork.icon" color="#fff"></ion-icon>
            <div class="cool-text">
              <ion-text>{{socialNetwork.text}}</ion-text>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</div>
</ion-content>