.logo {

    width: 70vw;
    height: 70vw;
    max-width: 500px;
    max-height: 500px;

}
.flex-container {
    padding: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}