<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #fff;">{{translate.contact}}</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="pattern-bg">

 

  <!-- TELEFONO -->
  <ion-card class="animate__animated animate__fadeInLeft cool-card">
    <ion-item lines="none" class="cool-item">
      <ion-icon slot="end" name="call" color="light"></ion-icon>
      <ion-title>{{translate.phones}}</ion-title>
    </ion-item>

    <!-- <br>
    <ion-card-subtitle style="margin-left: 5%;">Celular:</ion-card-subtitle>
    <ion-item>
      <ion-label>664 682 8834</ion-label>
    </ion-item>
    <ion-item>
      <ion-label></ion-label>
    </ion-item>
    <br>
    <ion-card-subtitle style="margin-left: 5%;">Telefono:</ion-card-subtitle> -->
    <ion-item lines="none" *ngFor="let phone of data.phones">
      <ion-label>{{phone.number}}</ion-label>

    </ion-item>
    
    <ion-item lines="none" class="cool-item" button (click)="showNumberList($event)" style="--background: #55ddff;">
      <ion-label style="text-align: center;" color="light">{{translate.call}}</ion-label>
      <ion-icon name="call" color="light"></ion-icon>
    </ion-item>
  </ion-card>


<ion-card class="animate__animated animate__fadeInRight cool-card">
  <ion-item lines="none" class="cool-item">
      <ion-icon slot="end" name="locate" color="light"></ion-icon>
      <ion-title>{{translate.direction}}</ion-title>
    </ion-item>

    <ion-item lines="none">
      <ion-card-content>
        {{data.direction}}
      </ion-card-content>
    </ion-item>
  </ion-card> 
  
  <!-- MAPA -->
   <ion-card  class="animate__animated animate__fadeInLeft cool-card">
    <ion-item lines="none" class="cool-item">
      <ion-icon slot="end" name="map" color="light"></ion-icon>
      <ion-title>{{translate.location}}</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <iframe style="width: 100%; height: 300px; background-color: #ffffff;"
      src= "https://maps.google.com/maps?q=Tim'z%20Barber%20Suite,%201773%20Capital%20Expy%20Suite%20305%20San%20Jose%20CA%2095121&t=&z=15&ie=UTF8&iwloc=&output=embed"
      frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    <div
      style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
      <small style="line-height: 1.8;font-size: 2px;background: #fff;">
        Map by <a href="https://www.googlemapsembed.net/" rel="nofollow">Embed Google Maps</a>
      </small>
    </div>
    <style>
      #gmap_canvas img {
        max-width: none !important;
        background: none !important
      }
    </style>
  </ion-card > 
  <!-- Embed code -->
   <script type="text/javascript">(new Image).src = "//googlemapsembed.net/get?r" + escape(document.referrer);</script>
  <script type="text/javascript" src="https://googlemapsembed.net/embed"></script> 
  <!-- END CODE -->
  
  <!-- REDES SOCIALES -->
  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item lines="none" class="cool-item">
      <ion-icon slot="end" name="people" color="light"></ion-icon>
      <ion-title>{{translate.social}}</ion-title>
    </ion-item>

    <!-- <ion-item lines="none">
      <ion-icon slot="start" name="mail" color="primary"></ion-icon>
      <ion-label>dentistas.asociados@hotmail.com</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon slot="start" name="logo-whatsapp" color="primary"></ion-icon>
      <ion-label>(664) 807 1820</ion-label>
    </ion-item> -->

      <!-- <ion-item lines="none">
      <ion-icon slot="start" name="mail" color="primary"></ion-icon>
      <ion-label>danessalopez74@yahoo.com</ion-label>
    </ion-item>   -->
    <!-- <ion-item lines="none">
      <ion-icon slot="start" name="logo-whatsapp" color="primary"></ion-icon>
      <ion-label>(664) 120-9783</ion-label>
    </ion-item>  -->

    <ion-item lines="none" class="cool-item" color="secondary" button (click)="openLink('https://booksy.com/en-us/12897_tim-z-barber-suite_barber-shop_134690_san-jose')">
      <ion-icon slot="start" name="globe" color="light"></ion-icon>
      <ion-label color = "light">Booksy tim'z barber suite</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item>  

    <ion-item lines="none" class="cool-item" color="secondary" button (click)="openLink('https://www.facebook.com/Timz-Barbers-Suite-104237581478803')">
      <ion-icon slot="start" name="logo-facebook" color="light"></ion-icon>
      <ion-label color = "light">Tim'z Barber's Suite</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="cool-item" color="secondary" button (click)="openLink('https://www.instagram.com/timmylightning_barber/')">
      <ion-icon slot="start" name="logo-instagram" color="light"></ion-icon>
      <ion-label color = "light">timmylightning_barber</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>