<ion-header class="ion-no-border">
  <ion-item  lines="none" class="ion-text-center" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeImage()" color="light">
        <ion-icon slot="icon-only" name="close" style="color: black;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-header>


<ion-content class="cool-content">
  
  <ion-grid style="height: 100%">
    <ion-row class="ion-align-items-center" style="height: 100%">
      <ion-col size="12" class="ion-text-center">
        <ion-slides #slides [options]="slideOpts" loop="true" zoom="true" *ngIf="viewEntered" (ionSlidesDidLoad)="slides.slideTo(imageIndex, 0)">
          <ion-slide *ngFor="let image of images">
            <div class="swiper-zoom-container">
              <img [src]="image">
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
    
</ion-content> 
