.cool-content { 
    --background: var(--ion-color-secondary); 
}
.cool-card {
    --ion-background-color: var(--ion-color-tertiary);
    ion-title {
        margin-top: 16px;
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 20px;
        color: #fff
    }
}