<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title>GALLERY</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">

  <!-- BOTON CONTACTO -->
  <ion-fab vertical="top" horizontal="end" edge slot="fixed" class="fab-button">
    <ion-fab-button>
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button *ngFor="let phoneNumber of d.phoneNumbers" (click)="data.phoneCall(phoneNumber.number)" color="primary">
        <ion-icon name="call"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button *ngFor="let socialNetwork of d.socialNetworks" (click)="data.openLink(socialNetwork.link)" color="secondary">
        <ion-icon [name]="socialNetwork.icon"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

      <!-- TELEFONOS -->
      <ion-card class="animate__animated animate__fadeInLeft cool-card">
        <ion-item lines="none">
          <ion-icon slot="end" name="call" color="#fff"></ion-icon>
          <ion-title>Call now and schedule your appointment</ion-title>
        </ion-item>
    
        <div class="cool-line"></div>
    
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <!-- NUMEROS -->
            <ion-col class="ion-text-center" size="12" *ngFor="let phoneNumber1 of d.phoneNumbers1">
              <ion-button class="cool-button" shape="round" fill="outline" lines="none" (click)="data.phoneCall(phoneNumber1.number)">
                <div class="cool-text">
                  <ion-text>{{phoneNumber1.number}}</ion-text>
                </div>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
  

  <!-- GALERIA -->
  <div  class="gallery">
    <div class="image" *ngFor="let image of images; index as i" button (click)="openImage(i)">
      <img [src]="image">
    </div>
  </div>
</ion-content>
