.container-cover-logo {
    margin: 0;
    background: transparent;
    width: 100%;
    box-shadow: none !important;
    position: absolute;
    left: 0;
    top: 12px;
    z-index: 10;
}

.cover-logo {
    background: transparent;
    width: 150px;
    height: 48px;
    object-fit: cover;
}