<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #fff;">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cool-card">
    <ion-item lines="none">
      <img src="../assets/images/Logo.png" style="margin-left: auto; margin-right: auto; margin-top: 12px; margin-bottom: 12px; height: 160px; width: 160px;">
    </ion-item>

    <!-- <ion-item lines="none">
      <ion-title style="text-align: center;">Dr. Gonzalez</ion-title>
    </ion-item> -->

    <!-- <ion-item lines="none" class="cool-item">
      <ion-title style="text-align: center;">Centro de Ortodoncia Dental</ion-title>
    </ion-item> -->
  </ion-card>

  <ion-card class="cool-card">
    <ion-slides pager="true" [options]="slideOpts" autoplay="true" loop="true" class="slider">
      <ion-slide>
        <img src="../assets/images/1s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/2s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/3s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/4s.jpg">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="book" color="primary"></ion-icon>
      <ion-title style="margin: 12px; margin-left: 0px;">Centro Radiologico <br>San Angel</ion-title>
    </ion-item>

    <ion-item lines="none">
      <ion-card-content>
        Ofrecemos todos los tipos de rayos X con diagnostico medico especializado brindando a todos nuestros pacientes un servicio
        de excelente calidad a bajo costo. <br>
        Tenemos diferentes tipos de entrega de tu estudio y diagnostico. <br>
        Contamos con red medica ofreciendo la entrega oportuna a tu medico del estudio realizado via Online acortando los tiempos de espera. <br>
        Haz contacto con nosotros para darte informacion mas detallada sobre todos nuestros procedimientos y recuerda que para nosotros tu salud Siempre es Primero! <br>
        Estamos para Servirte.
      </ion-card-content>
    </ion-item>
    <img class="image" src="../assets/images/l1.jpg" style="height: 120px;">
  </ion-card>
</ion-content>
