.post-button {
    position: absolute; 
    left: 32px; 
    bottom: 24px; 
    z-index: 10; 
    height: 24px;
    font-size: medium;
}
.cool-content { 
    --background: #1f2352; 
}
.create-post-button {
    position: absolute; 
    right: 24px; 
    bottom: 24px; 
    z-index: 10; 
    height: 24px;
}
.cool-card {
    --ion-background-color: var(--ion-color-secondary); 
    ion-grid{
  background-color: var(--ion-color-primary);
    } 
}