<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #fff;">{{translate.menu}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pattern-bg">

  <ion-card class="animate__animated animate__fadeInLeft cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="book" color="primary"></ion-icon>
      <ion-title>Breakfast</ion-title>
    </ion-item>
    <div class="cool-line"></div>

    <ion-card class="cool-card item" *ngFor="let item of breakfast">
      <ion-label>{{item.name}}</ion-label>
      <!-- <ion-label class="price">{{item.price}}</ion-label> -->
      <ion-card-content>
        {{item.description}}
      </ion-card-content>
    </ion-card>
  </ion-card>

  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="book" color="primary"></ion-icon>
      <ion-title>Burritos</ion-title>
    </ion-item>
    <div class="cool-line"></div>

    <ion-card class="cool-card item" *ngFor="let item of burritos">
      <ion-label>{{item.name}}</ion-label>
      <!-- <ion-label class="price">{{item.price}}</ion-label> -->
      <ion-card-content>
        {{item.description}}
      </ion-card-content>
    </ion-card>
  </ion-card>

  <ion-card class="animate__animated animate__fadeInLeft cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="book" color="primary"></ion-icon>
      <ion-title>Tacos</ion-title>
    </ion-item>
    <div class="cool-line"></div>

    <ion-card class="cool-card item" *ngFor="let item of tacos">
      <ion-label>{{item.name}}</ion-label>
      <!-- <ion-label class="price">{{item.price}}</ion-label> -->
    </ion-card>
  </ion-card>

  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="book" color="primary"></ion-icon>
      <ion-title>Kids Meals</ion-title>
    </ion-item>
    <div class="cool-line"></div>

    <ion-card class="cool-card item" *ngFor="let item of kidsMeals">
      <ion-label>{{item.name}}</ion-label>
      <!-- <ion-label class="price">{{item.price}}</ion-label> -->
      <ion-card-content *ngIf="item.description != 'none'">
        {{item.description}}
      </ion-card-content>
    </ion-card>
  </ion-card>

  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="book" color="primary"></ion-icon>
      <ion-title>Entrees</ion-title>
    </ion-item>
    <div class="cool-line"></div>

    <ion-card class="cool-card item" *ngFor="let item of entrees">
      <ion-label>{{item.name}}</ion-label>
      <!-- <ion-label class="price">{{item.price}}</ion-label> -->
      <ion-card-content *ngIf="item.description != 'none'">
        {{item.description}}
      </ion-card-content>
    </ion-card>
  </ion-card>

  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="book" color="primary"></ion-icon>
      <ion-title>Combinations</ion-title>
    </ion-item>
    <div class="cool-line"></div>

    <ion-card class="cool-card item" *ngFor="let item of combinations">
      <ion-label>{{item.name}}</ion-label>
      <!-- <ion-label class="price">{{item.price}}</ion-label> -->
      <ion-card-content *ngIf="item.description != 'none'">
        {{item.description}}
      </ion-card-content>
    </ion-card>
  </ion-card>

  <ion-card class="animate__animated animate__fadeInLeft cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="book" color="primary"></ion-icon>
      <ion-title>A la Carta</ion-title>
    </ion-item>
    <div class="cool-line"></div>

    <ion-card class="cool-card item" *ngFor="let item of aLaCarta">
      <ion-label>{{item.name}}</ion-label>
      <!-- <ion-label class="price">{{item.price}}</ion-label> -->
    </ion-card>
  </ion-card>

  <ion-card class="animate__animated animate__fadeInLeft cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="book" color="primary"></ion-icon>
      <ion-title>Desserts</ion-title>
    </ion-item>
    <div class="cool-line"></div>

    <ion-card class="cool-card item" *ngFor="let item of desserts">
      <ion-label>{{item.name}}</ion-label>
      <!-- <ion-label class="price">{{item.price}}</ion-label> -->
    </ion-card>
  </ion-card>

</ion-content>
