<ion-card class="cool-card" style="margin: 0px; border-radius: 0px; border-width: 0px;">
  <ion-list>
    <ion-item lines="none" *ngFor="let phone of data.phones">
      <ion-label (click)="phoneCall(phone.call)">{{phone.number}}</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="tertiary"></ion-icon>
    </ion-item>
  </ion-list>
</ion-card>

