ion-toolbar {
    --background: var(--ion-color-primary);

    ion-title {
        padding: 50px 0 40px 0;
        font-weight: 900;
        color: #ffffff;
    }
}

.footer { --background: #9a2120;//var(--ion-color-secondary);
 }

.container-menu-image {
    margin-top: 20px;
    background: transparent;
    width: 100%;
    box-shadow: none !important;
}

.menu-image {
    background: transparent;
    width: 90%;
    height: 220px;
    object-fit: cover;
    margin-left: 5%;
}

//Menu Buttons
.mb-active {
    height: 52px;
    width: 240px;
}

.mb-deactive {
    height: 42px;
    width: 220px;
}

.menu-button {
    --background: var(--ion-color-primary);
    margin: 0;
    margin-top: 8px;
    border-radius: 50%;
    --box-shadow: none !important;
    font-weight: 900;
    font-size: 18px;
    color: white;
}

//Shapes
.tilt {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.tilt svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 60px;
    transform: rotateY(180deg);
}

.tilt .shape-fill {
    fill: #9a2120;
}

.back-circle {
   z-index: -1;
   padding-left: 200px;
     width: 180px;
    height: 180px;
     background: #ffffff;//var(--ion-color-secondary);
     position: absolute;
    border-radius: 50%;
     margin-left: auto;
    margin-right: auto;
     left: 0;
     right: 0;
   bottom: 28%;
 }
.menu-container {
   --background:#9a2120;
 }
.bc-1 {padding: 0;left: 65%; top: -40px; width: 180px; height: 180px; background: var(--ion-color-primary); z-index: 10;}
.bc-2 {padding: 0;left: 90%; top: -80px; width: 60px; height: 60px; background: var(--ion-color-primary); z-index: 10;}
.bc-3 {padding: 0;left: 90%; top: -100px; width: 20px; height: 20px; background: var(--ion-color-primary); z-index: 10;}
.bc-4 {padding: 0;left: 25%; top: 50%; width: 80px; height: 80px; background: var(--ion-color-primary); z-index: 10;}
.bc-5 {padding: 0;left: -20px; top: 50%; width: 20px; height: 20px; background: var(--ion-color-primary); z-index: 10;}
.bc-6 {padding: 0;left: -90px; top: 70%; width: 16px; height: 16px; background: var(--ion-color-primary); z-index: 10;}
.bc-7 {padding: 0;left: -100px; top: 20%; width: 10px; height: 10px; background: var(--ion-color-primary); z-index: 10;}
.bc-8 {padding: 0;left: 50px; top: 30%; width: 10px; height: 10px; background: var(--ion-color-primary); z-index: 10;}