<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg-style">

  <!-- TELEFONO -->
  <ion-card class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="call" color="primary"></ion-icon>
      <ion-title>Telefono</ion-title>
    </ion-item>
    <ion-item>
      <ion-label>664 685 3267</ion-label>
    </ion-item>

    <ion-item button class="cool-item" lines="none" routerLink="/phonecall">
      <ion-label style="text-align: center;">Llamar</ion-label>
      <ion-icon slot="end" name="call" color="light"></ion-icon>
    </ion-item>
  </ion-card>

  <!-- DIRECCION -->
  <ion-card class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="locate" color="primary"></ion-icon>
      <ion-title>Direccion</ion-title>
    </ion-item>

    <ion-item lines="none" style="margin-top: 12px; margin-bottom: 12px;">
      Av. Mutualismo #1093 Calle 5ta o Emiliano Zapata, CP.22000, Tijuana, B.C.
    </ion-item>
  </ion-card>

  <!-- MAPA -->
  <ion-card  class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="map" color="primary"></ion-icon>
      <ion-title>Ubicacion</ion-title>
    </ion-item>

    <iframe style="width: 100%; height: 300px;"
      src="https://maps.google.com/maps?q=AL%2C%20US%2C%20Av.%20Mutualismo%20%231093%2C%20Zona%20Este%2C%2022000%2C%20Dental%20Zazueta&t=&z=15&ie=UTF8&iwloc=&output=embed"
      frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    <div
      style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
      <small style="line-height: 1.8;font-size: 2px;background: #fff;">
        Map by <a href="https://www.googlemapsembed.net/" rel="nofollow">Embed Google Maps</a>
      </small>
    </div>
    <style>
      #gmap_canvas img {
        max-width: none !important;
        background: none !important
      }
    </style>
  </ion-card >
  <!-- Embed code -->
  <script type="text/javascript">(new Image).src = "//googlemapsembed.net/get?r" + escape(document.referrer);</script>
  <script type="text/javascript" src="https://googlemapsembed.net/embed"></script>
  <!-- END CODE -->
  
  <!-- REDES SOCIALES -->
  <ion-card class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="people" color="primary"></ion-icon>
      <ion-title>Redes Sociales</ion-title>
    </ion-item>

    <!-- <ion-item>
      <ion-icon slot="start" name="mail" color="primary"></ion-icon>
      <ion-label>dentalhidalgo@gmail.com</ion-label>
    </ion-item> -->

    <ion-item class="cool-item" button (click)="openLink('https://www.facebook.com/dentalzazueta')">
      <ion-icon slot="start" name="logo-facebook" color="light"></ion-icon>
      <ion-label>Dental Zazueta</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item>

    <ion-item class="cool-item" lines="none" button (click)="openLink('https://www.instagram.com/dental_zazueta/')">
      <ion-icon slot="start" name="logo-instagram" color="light"></ion-icon>
      <ion-label>dental_zazueta</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>