<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeCall()">
        <ion-icon slot="icon-only" name='arrow-back' color='light' style="font-size: 25px;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="color: #fff;">
      Centro Radiologico <br>
      San Angel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <img class="gallery" src="assets/images/call.jfif" style="width: 100%; height: 80%;">
  <ion-button expand="full" color="secondary" (click)="phoneCall()" style="margin: 0px; height: 19%;">
    <!-- <ion-icon slot="end" name='call' color='light' style="font-size: 25px;"></ion-icon> -->
    <ion-label style="color: #fff;">
      {{phoneNumber}} <br><br>
      Llamar
    </ion-label>
  </ion-button>
</ion-content>
