<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{t.t_Contacto[t.currentTranslation]}}</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">

  <!-- TELEFONOS -->
  <ion-card class="animate__animated animate__fadeInLeft cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="call" color="#fff"></ion-icon>
      <ion-title>{{t.txt_Telefonos[t.currentTranslation]}}</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <!-- NUMEROS -->
        <ion-col class="ion-text-center" size="12" *ngFor="let numero of d.phoneNumbers">
          <ion-button class="cool-button" shape="round" fill="outline" lines="none" (click)="data.phoneCall(numero.number)">
            <div class="cool-text">
              <ion-text>{{numero.number}}</ion-text>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- DIRECCION -->
  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item > 
      <ion-icon slot="end" name="locate" color="#fff"></ion-icon>
      <ion-title>{{t.txt_Direccion[t.currentTranslation]}}</ion-title>
    </ion-item>
    <div class="cool-line"></div>
    <ion-item lines="none"  color="light">
      <ion-card-content>
        {{d.address}}
      </ion-card-content>
    </ion-item>
  </ion-card>

  <!-- MAPA -->
  <ion-card  class="animate__animated animate__fadeInLeft cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="map" color="#fff"></ion-icon>
      <ion-title>{{t.txt_Ubicacion[t.currentTranslation]}}</ion-title>
    </ion-item>

    <div class="cool-line"></div>
    
    <iframe style="width: 100%; height: 300px; background-color: #ffffff;"
      [src]="getMapUrl()"
      frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </ion-card >
  <!-- Embed code -->
  <script type="text/javascript">(new Image).src = "//googlemapsembed.net/get?r" + escape(document.referrer);</script>
  <script type="text/javascript" src="https://googlemapsembed.net/embed"></script>
  <!-- END CODE -->

  <!-- REDES SOCIALES -->
  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-item lines="none">
      <ion-icon slot="end" name="list" color="#fff"></ion-icon>
      <ion-title>{{t.txt_RedesSociales[t.currentTranslation]}}</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-item lines="none">
      <ion-icon slot="start" name="mail" color="secondary"></ion-icon>
      <ion-label>hector_camacho20@hotmail.com</ion-label>
    </ion-item>

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center" size="12" *ngFor="let red of d.socialNetworks">
          <ion-button class="cool-button" shape="round" fill="outline" lines="none" (click)="data.openLink(red.link)">
            <ion-icon slot="start" [name]="red.icon" color="#fff"></ion-icon>
            <div class="cool-text">
              <ion-text>{{red.text}}</ion-text>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
