<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #fff;">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cool-card">
    <ion-item>
      <img src="../assets/images/Logo.png" style="margin-left: auto; margin-right: auto; margin-top: 12px; margin-bottom: 12px; height: 140px; width: 140px;">
    </ion-item>

    <ion-item>
      <ion-title style="text-align: center;">Dental & Braces</ion-title>
    </ion-item>

    <ion-item lines="none" class="cool-item">
      <!-- <ion-icon slot="start" name="pulse" style="color: #fff;"></ion-icon> -->
      <ion-title style="text-align: center;">Dra. Patricia P. de Kobisher</ion-title>
    </ion-item>
  </ion-card>

  <ion-card class="cool-card">
    <ion-slides pager="true" [options]="slideOpts" autoplay="true" loop="true" class="slider">
      <ion-slide>
        <img src="../assets/images/1s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/2s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/3s.jpg">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="book" color="primary"></ion-icon>
      <ion-title>Dra. Patricia</ion-title>
    </ion-item>

    <ion-item>
      <ion-card-content>
          Una de las Mejores Dentistas en Tijuana, con más de 30 años de experiencia ofrece servicios en todas las áreas de la Odontología, 
          brindando siempre excelente servicio y al mejor precio. <br><br>
          Nuestro trabajo tiene garantía de calidad por lo que se sentirá completamente satisfecho. <br>
          Contactanos para revisar tu caso y darte la sonrisa que mereces.
      </ion-card-content>
    </ion-item>
    <img class="image" src="../assets/images/l1.jpg" style="height: 120px;">
  </ion-card>

  <ion-card class="cool-card">
    <ion-item class="cool-item">
      <ion-icon slot="end" name="settings" color="light"></ion-icon>
      <ion-title>Procedimientos:</ion-title>
    </ion-item>

    <ion-item>
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Ortodoncia</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Endodoncia</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Cirugias</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Periodoncia</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Implantes</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
