<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeCall()">
        <ion-icon slot="icon-only" name='close' color='light' style="font-size: 25px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cover">
    <img src="../assets/images/call.jpg" class="cover-image">
  </div>

  <ion-grid class="container">
    <ion-row style="height: 100%;">
      <ion-col class="ion-text-center" size="12">
        
        <ion-card class="cool-card" style="border-width: 0; box-shadow: none;">
          <ion-item lines="none">
            <ion-title>Call</ion-title>
          </ion-item>
        </ion-card>

        <div class="cool-line" style="margin-bottom: 16px;"></div>

        <ion-button class="cool-button" style="height: 120px;" shape="round" fill="outline" lines="none" (click)="phoneCall(phoneNumber)">
          <ion-icon slot="start" name="call" color="#fff"></ion-icon>
          <div class="cool-text">
            <ion-text>{{phoneNumber}}</ion-text>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
