<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #fff;">{{translate.home}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cool-content">
  <!-- LOGO -->
  <ion-card class="animate__animated animate__fadeInLeft cool-card">
    <ion-item lines="none">
      <img src="../assets/images/Logo.png" style="margin-left: auto; margin-right: auto; height: 200px; width: 200px;">
    </ion-item>
  </ion-card>

  <!-- SLIDER -->
  <ion-card class="animate__animated animate__fadeInRight cool-card">
    <ion-slides pager="true" [options]="slideOpts" autoplay="true" loop="true" class="slider">
      <ion-slide *ngFor="let image of data.sliderImages">
        <img [src]="image" style="width: 100%; height: 100%; object-fit: fill;">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <!-- DESCRIPCION -->
  <ion-card class="animate__animated animate__fadeInLeft cool-card">
    <img class="image" src="../assets/images/15.jfif" class="full-image">

    <ion-item>
      <ion-icon slot="end" name="book" color="primary"></ion-icon>
      <ion-title style="margin: 12px; margin-left: 0px;">{{translate.appTitle}}</ion-title>
    </ion-item>

    <ion-item lines="none">
      <ion-card-content>
        {{translate.description}}
      </ion-card-content>
    </ion-item>
    
  </ion-card>

  <!-- VIDEO -->
  <ion-card class="cool-card">
    <video style="width: 100%; background-color: white;" controls>
      <source src="../assets/videos/1.mp4#t=1" type="video/mp4">
    </video>
  </ion-card>

  <!-- FLYER -->
  <ion-card class="animate__animated animate__fadeInLeft cool-card">
      <img src="../assets/images/f.png" class="full-image">
  </ion-card> 

  <!-- PROCEDIMIENTOS -->
  <ion-card class="animate__animated animate__fadeInRight cool-card">

    <img class="image" src="../assets/images/17.jfif" class="full-image">

    <ion-item lines="none">
      <ion-icon slot="end" name="settings" color="primary"></ion-icon>
      <ion-title>{{translate.procedures}}</ion-title>
    </ion-item>

    <div class="cool-line"></div>

    <ion-item lines="none" *ngFor="let procedure of translate.procedureList">
      <ion-icon slot="start" name="radio-button-on" color="#fff" style="font-size: 16px;"></ion-icon>
      <ion-label>{{procedure}}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
