<ion-card class="cool-card" style="margin: 0px; border-radius: 10px; border-width: 2px;">
  <ion-list>
    <ion-item>
      <ion-label (click)="phoneCall('6646835050')">664 683 5050</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="primary"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label (click)="phoneCall('6193087928')">619 308 7928</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="primary"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label (click)="phoneCall('6643749077')">664 374 9077</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="primary"></ion-icon>
    </ion-item>
  </ion-list>
</ion-card>

