<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #fff;">Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- TELEFONO -->
  <ion-card class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="call" color="primary"></ion-icon>
      <ion-title>Telefonos</ion-title>
    </ion-item>

    <br>
    <ion-card-subtitle style="margin-left: 5%;">Celular:</ion-card-subtitle>
    <ion-item>
      <ion-label>(664) 123 5321</ion-label>
    </ion-item>
    <br>
    <ion-card-subtitle style="margin-left: 5%;">Telefono:</ion-card-subtitle>
    <ion-item>
      <ion-label>(664) 685 1868</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>USA (619) 730 1577</ion-label>
    </ion-item>

    <ion-item class="cool-item" button routerLink="/llamada">
      <ion-label style="text-align: center;">Llamar</ion-label>
      <ion-icon name="call" color="light"></ion-icon>
    </ion-item>
  </ion-card>

  <!-- DIRECCION -->
  <ion-card class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="locate" color="primary"></ion-icon>
      <ion-title>Direccion</ion-title>
    </ion-item>

    <ion-item>
     Calle "G" No. 840, entre 2da y 3ra, Zona Centro, Tijuana, B.C.
    </ion-item>
  </ion-card>

  <!-- MAPA -->
  <ion-card  class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="map" color="primary"></ion-icon>
      <ion-title>Ubicacion</ion-title>
    </ion-item>

    <iframe style="width: 100%; height: 300px;"
      src="https://maps.google.com/maps?q=Gonzalez%20Ortega%20840%2C%20Zona%20Centro%2C%2022000%20Tijuana%2C%20B.C.%20Arce%20Lugo%20Dental%20House&t=&z=15&ie=UTF8&iwloc=&output=embed"
      frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    <div
      style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
      <small style="line-height: 1.8;font-size: 2px;background: #fff;">
        Map by <a href="https://www.googlemapsembed.net/" rel="nofollow">Embed Google Maps</a>
      </small>
    </div>
    <style>
      #gmap_canvas img {
        max-width: none !important;
        background: none !important
      }
    </style>
  </ion-card >
  <!-- Embed code -->
  <script type="text/javascript">(new Image).src = "//googlemapsembed.net/get?r" + escape(document.referrer);</script>
  <script type="text/javascript" src="https://googlemapsembed.net/embed"></script>
  <!-- END CODE -->
  
  <!-- REDES SOCIALES -->
  <ion-card class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="people" color="primary"></ion-icon>
      <ion-title>Redes Sociales</ion-title>
    </ion-item>

    <!-- <ion-item>
      <ion-icon slot="start" name="mail" color="primary"></ion-icon>
      <ion-label>correo@hotmail.com</ion-label>
    </ion-item> -->

    <ion-item class="cool-item" button (click)="openLink('https://arcelugo.com/')">
      <ion-icon slot="start" name="globe" color="light"></ion-icon>
      <ion-label>arcelugo.com</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item>

    <ion-item class="cool-item" button (click)="openLink('https://www.facebook.com/dentalhousearcelugo/')">
      <ion-icon slot="start" name="logo-facebook" color="light"></ion-icon>
      <ion-label>Arce Lugo - Dental House</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item>

    <ion-item class="cool-item" button (click)="openLink('https://www.instagram.com/arcelugo.dental/')">
      <ion-icon slot="start" name="logo-instagram" color="light"></ion-icon>
      <ion-label>arcelugo.dental</ion-label>
      <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>