<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #fff;">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cool-card">
    <ion-item lines="none">
      <img src="../assets/images/Logo.png" style="margin-left: auto; margin-right: auto; margin-top: 12px; margin-bottom: 12px; height: 160px; width: 160px;">
    </ion-item>

    <!-- <ion-item lines="none">
      <ion-title style="text-align: center;">Dr. Gonzalez</ion-title>
    </ion-item> -->

    <!-- <ion-item lines="none" class="cool-item">
      <ion-title style="text-align: center;">Centro de Ortodoncia Dental</ion-title>
    </ion-item> -->
  </ion-card>

  <ion-card class="cool-card">
    <ion-slides pager="true" [options]="slideOpts" autoplay="true" loop="true" class="slider">
      <ion-slide>
        <img src="../assets/images/1s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/2s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/3s.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../assets/images/4s.jpg">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card class="cool-card">
    <ion-item>
      <ion-icon slot="end" name="book" color="primary"></ion-icon>
      <ion-title style="margin: 12px; margin-left: 0px;">Clinica Dental Geminis</ion-title>
    </ion-item>

    <ion-item lines="none">
      <ion-card-content>
        Ofrecemos excelentes servicios en cualquier area de la odontologia a un precio accesible. <br>
        Nuestro objetivo es hacer que nuestros clientes sientan que tomaron la decision correcta al venir a nuestras
        instalaciones, por eso siempre te trataremos con la amabilidad y el cariño que mereces. <br>
        Recuerda que para nosotros tu bienestar es primero. <br>
        Contacta con nosotros para mas detalles.
      </ion-card-content>
    </ion-item>
    <img class="image" src="../assets/images/l1.jpg" style="height: 120px;">
  </ion-card>

  <!-- <ion-card class="cool-card">
    <ion-item lines="none" class="cool-item">
      <ion-icon slot="end" name="settings" color="light"></ion-icon>
      <ion-title>Procedimientos:</ion-title>
    </ion-item>

    <ion-item>
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Ortodoncia</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Carillas</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Blanqueamiento</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Implantes</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Limpieza</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon slot="end" name="checkmark" color="primary"></ion-icon>
      <ion-label>Extracciones</ion-label>
    </ion-item>
  </ion-card> -->
</ion-content>
