ion-toolbar {
    --background: var(--ion-color-primary);
}

.footer { --background: var(--ion-color-secondary); }

.menu-container {
    --background: linear-gradient(to bottom, #ffd42a, #f3864f, #b15463, #593951, #1a1a1a);
}

.container-menu-image {
    margin: 0;
    background: transparent;
    width: 100%;
    box-shadow: none !important;
}

.menu-image {
    background: transparent;
    width: 90%;
    margin-left: 5%;
    height: 230px;
    object-fit: cover;
}

//Menu Buttons
.mb-active {
    height: 52px;
    width: 240px;
    --background: var(--ion-color-primary);
}

.mb-deactive {
    height: 42px;
    width: 220px;
    --background: transparent;
}

.menu-button {
    //--background: var(--ion-color-primary);
    --border-color: white;
    --box-shadow: none !important;
    font-weight: 600;
    font-size: 14px;
    color: white;
}

.languaje-button {
    z-index: 10;
    position: absolute;
    bottom: 16px;
    left: 12px;
    color: #fff; 
    font-size: 18;
    --background: transparent;
    --box-shadow: none;
} 

.h-lines {
    position: absolute;
    z-index: 10;
    top: 12px;
    left: 3%;
    width: 94%;
    height: 60px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-top: transparent;
    border-bottom: transparent;
}

.l-lines {
    position: absolute;
    z-index: 10;
    left: 3%;
    bottom: 3%;
    width: 2px;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-right: transparent;
    border-top: transparent;
    border-bottom: transparent;
}

.r-lines {
    position: absolute;
    z-index: 10;
    right: 3%;
    bottom: 3%;
    width: 2px;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-left: transparent;
    border-top: transparent;
    border-bottom: transparent;
}

.b-lines {
    position: absolute;
    z-index: 10;
    left: 3%;
    bottom: 3%;
    width: 94%;
    height: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
}

//Shapes
.tilt {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.tilt svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 60px;
    transform: rotateY(180deg);
}

.tilt .shape-fill {
    fill: #ffd42a;
}

.animate__animated {
    --animate-duration: 600ms;
}