.date-button {
    height: 64px;
}

.date-title {
    margin-bottom: 0;
}

.range {
    margin: 0;
    padding: 24px;
    height: 32px;
}

.message {
    --color: white;
    font-size: 16px;
}

.appointment-button {
    height: 60px;
}

.admin-button {
    width: 64px;
    height: 64px;
    font-size: 28px;
}